@using SmartHealth.Box.Domain.Dtos
@{
    ViewBag.Title = ViewBag.Titles;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var articles = (List<ArticleDto>)ViewBag.Articles;
    var newses = (List<ArticleDto>)ViewBag.Newses;
    if (Session["SmartHealthUser"] == null)
    {
        Session["SmartHealthUser"] = new SessionDto();
    }
    var viewedArticles = ((SessionDto)Session["SmartHealthUser"]).ViewedArticles;
}
<div class="leftContent">
    <div class="boxLeft">
        <div class="chitietsanpham">
            <p>@ViewBag.CategoryName</p>
        </div>
        <div style="margin: 10px 20px;">
            @if (articles != null)
            {
                foreach (var article in articles)
                {
                <div style="clear: both; margin-top: 20px;">
                </div>
                <div>
                    <div>
                        <div style="float: left; width: 140px">
                            <img src="@article.MediaUrl"  style="width:140px" />
                        </div>
                        <div style="float: left; width: 500px; margin-left: 10px;">
                            <a href="@Url.Action("Article", "Home", new { id = article.Id })">
                                <h3>
                                    @article.Title</h3>
                            </a>
                            @article.Description
                            <div style="float: right; margin-right: 20px;">
                                <a href="@Url.Action("Article", "Home", new { id = article.Id })">Xem chi tiết </a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
    </div>
</div>
<!--leftContent-->
<div class="rightContent">
    <div class="boxRight">
        <div class="boxRightI">
            <p>
                Tin tức</p>
            <div class="htkhachhang">
                <ul>
                    @if (newses != null)
                    {
                        foreach (var news in newses)
                        {
                        <li><a href="@Url.Action("Article", "Home", new { id = news.Id })">@news.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>
                Chấp nhận thanh toán</p>
            <div class="thanhtoan">
                <ul>
                    <li><a href="#">
                        <img src="/content/images/tt-1.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-2.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-3.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-4.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-5.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-6.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-7.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-8.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>
                Tin tức đã xem</p>
            <div class="htkhachhang">
                <ul>
                    @if (viewedArticles != null)
                    {
                        foreach (var viewedArticle in viewedArticles)
                        {
                        <li><a href="@Url.Action("Article", "Home", new { id = viewedArticle.Id })">@viewedArticle.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRightF">
        <div class="fb-like-box" data-href="https://www.facebook.com/pages/Smart-Health/173034079568243"
            data-width="220px" data-colorscheme="light" data-show-faces="true" data-header="true"
            data-stream="false" data-show-border="false">
        </div>
    </div>
</div>
<!--rightContent-->
