@using SmartHealth.Box.Domain.Dtos
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var article = (ArticleDto)ViewBag.Article;
    var products = (List<ProductDto>)ViewBag.Products;
    var newses = (List<ArticleDto>)ViewBag.Newses;
    if (Session["SmartHealthUser"] == null)
    {
        Session["SmartHealthUser"] = new SessionDto();
    }
    var viewedArticles = ((SessionDto)Session["SmartHealthUser"]).ViewedArticles;
}

<div class="leftContent">
    <div class="boxLeft">
        <div class="chitietsanpham">
            <h1>@article.Title</h1>
        </div>
        <div style="margin:10px 20px;">@Html.Raw(article.Content)</div>
        <div id="social" data-title="sharrre" data-url="@article.FullUrl" ></div>
        @*<div style="margin:10px 20px;">
        <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-numposts="12" data-width="660"></div>
        </div>*@
        <!--chitietsanpham-->
        <div class="tukhoa">
            <span>Từ khóa:</span>
            @foreach (var tag in article.Tags.Split(','))
            {
                <a href="@Url.Action("ArticleList", "Home", new { search = tag })">@tag</a>
            }
        </div>
    </div>
</div>
<!--leftContent-->
<div class="rightContent">
    <div class="boxRight">
        <div class="boxRightI">
            <p>Tin tức</p>
            <div class="htkhachhang">
                <ul>
                    @if (newses != null)
                    {
                        foreach (var news in newses)
                        {
                        <li><a href="@Url.Action("Article", "Home", new { id = news.Id })">@news.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>
                Sản phẩm khuyên dùng</p>
            <ul>
                @if (products != null)
                {
                    foreach (var relatedProduct in products)
                    {
                    <li>
                        <div class="picleft">
                            <table cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td class="pic_5">
                                            <a href="@Url.Action("Product", "Home", new { id = relatedProduct.Id })">
                                                <img src="@relatedProduct.MediaUrl" alt="" /></a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <p>@relatedProduct.Name<br />@relatedProduct.Weight</p>
                        <span>@relatedProduct.SmartHealthPrice.ToString("N0") đ</span> </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>Chấp nhận thanh toán</p>
            <div class="thanhtoan">
                <ul>
                    <li><a href="#">
                        <img src="/content/images/tt-1.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-2.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-3.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-4.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-5.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-6.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-7.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-8.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>Tin tức đã xem</p>
            <div class="htkhachhang">
                <ul>
                    @if (viewedArticles != null)
                    {
                        foreach (var viewedArticle in viewedArticles)
                        {
                            <li><a href="@Url.Action("Article", "Home", new { id = viewedArticle.Id })">@viewedArticle.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    
    <div class="boxRightF">
        <div class="fb-like-box" data-href="https://www.facebook.com/pages/Smart-Health/173034079568243" data-width="220px" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
    </div>
</div>
<!--rightContent-->
<script>
  $(function(){
      $('#social').sharrre({
          share: {
              googlePlus: true,
              facebook: true,
              twitter: true
          },
          buttons: {
              googlePlus: {size: 'tall', annotation:'bubble'},
              facebook: {layout: 'box_count'},
              twitter: {count: 'vertical'}
          },
          enableHover: false,
          enableCounter: false,
          enableTracking: true
      });
  });
  </script>
<style type="text/css">
    #social {
        float: right;
        margin: 10px;
    }
     .sharrre .button{
         float:left;
         width:60px;
         margin: 0;
     }
</style>