@using System.Web.Optimization
@using SmartHealth.Box.Domain.Dtos
@using SmartHealth.Web.Resources
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var documents = (List<DocumentDto>)ViewBag.Documents;
    var i = 0;
}
<script src="~/Scripts/js/masonry.pkgd.min.js"></script>
@Styles.Render("~/Content/css/contact")
<div class="leftContent" style="width: 970px">
<div class="boxLeft" style="width: 100%">
    <div class="AboxLeft" style="width: 100%">
        <div class="Tprohone">
                <h3><p>@SH.Document</p></h3>
            </div>
        <div id="contact">
            <div class="container" style="width: 940px">
                <div id="content">
                    
                    @foreach (var document in documents)
                    {
                        <div class="box">
                            <span style="float: left">
                                <img src="@document.ThumbnailUrl" alt="">
                            </span>
                            <span style="float: left">
                                <p><strong>@document.Name</strong></p>
                                <p>@document.Description</p>
                                <button style="margin: 10px; float: left;" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#documentModal" onclick="SetDocumentInfo('@document.Id');">Tải về</button>
                                <a style="margin: 10px 0; float: left;" class="btn btn-default btn-sm" data-toggle="modal" data-target="#documentDetailModal_@i">
                                    Xem thêm
                                </a>
                            </span>
                        </div>
                        
                        
                        <!-- Detail Modal -->
                        <div class="modal fade" id="documentDetailModal_@i" tabindex="-1" role="dialog" aria-labelledby="documentDetailModalLabel_@i" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="documentDetailModalLabel_@i">Chi tiết tài liệu</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="box-detail">
                                            <span style="float: left">
                                                <img src="@document.ThumbnailUrl" alt="">
                                            </span>
                                            <span style="float: left; max-width: 335px;">
                                                <p><strong>@document.Name</strong></p>
                                                <p>@document.Description</p>
                                                <span>@Html.Raw(document.Content)</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button style="margin: 10px;" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#documentModal" onclick="$('#documentDetailModal_@i').modal('hide');">@SH.Download</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.Detail modal -->
                    }
                </div>
                <!-- Modal -->
                <div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="documentModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="documentModalLabel">@SH.DownloadDocument</h4>
                            </div>
                            <div class="modal-body">
                                <form action="@Url.Action("DownloadDocument", "Home")" method="POST">
                                    <div class="col-lg-12" id="contentPopup">
                                        <div class="alert alert-info">@SH.DownloadDocumentMessage</div>
                                        <div class="alert alert-success" style="display: none">@SH.DownloadDocumentSuccess</div>
                                
                                        <div id="submitProgress" class="progress progress-striped active" style="display: none">
                                            <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                <span class="sr-only">45% Hoàn tất</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">@@</span>
                                                <input class="mail form-control" type="text" placeholder="Email" name="Email" />
                                                <input class="form-control" type="hidden" name="DocumentId" id="documentId"/>
                                            </div><!-- /input-group -->
                                        </div>
                                    </div><!-- /.col-lg-6 -->
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">@SH.Close</button>
                                <button id="submitBtn" type="button" class="btn btn-primary">@SH.Download</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                
            </div>
        </div>
    </div>
</div>
</div>
<style>
    .box {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-color: white;
        width: 100%;
}
    .box-detail {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 12px;
        width: 100%;
}
    .box img{
        max-width: 150px;
        margin: 5%;
}
    .box-detail img{
        max-width: 200px;
        margin: 5%;
}
    .box p, .box-detail p{
        margin: 10px; 
        font-size: 12px; 
        font-weight: normal;
        text-align: left;
}
    .box a:hover, .box-detail a:hover{
        text-decoration: none;
}
     #content {
         padding-top: 20px;
         margin-bottom: 30px; 
     }
</style>
    <script src="@Url.Content("~/Areas/Administrator/ClipOne/plugins/jquery-validation/dist/jquery.validate.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function() {
        //Init jQuery Masonry layout
        //init_masonry();

        //Select menu init
        $("#collapsed-navbar ." + $('body').attr('class')).attr('selected', 'selected');

        //Select menu onchange
        $("#collapsed-navbar").change(function() {
            window.location = $(this).val();
        });
        
        $("#submitBtn").click(function (e) {
           $('form').submit();
        });

        $('form').validate({
            rules: {
                Email: {
                    minlength: 3,
                    required: true,
                    email: true
                }
            },
            highlight: function(element) {
                $(element).closest('.form-group').addClass('has-error');
                $(element).closest('.form-group').removeClass('has-success');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
                $(element).closest('.form-group').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function(form) {
                $('#submitBtn').hide();
                $('#submitProgress').show();
                $.ajax({
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                updateProgress(evt.loaded * 100 / evt.total);
                            }
                        }, false);
                        return xhr;
                    },
                    type: 'POST',
                    url: $('form').attr('action'),
                    async: true,
                    data: $('form').serialize(),
                    success: function () {
                        $("#contentPopup .alert-info").hide();
                        $("#contentPopup .alert-success").show();
                        $("#contentPopup .input-group").hide();
                        $('#submitProgress').hide();
                    }
                });
            }
        });
    });
    
    function updateProgress(percentage) {
        if (percentage > 100) percentage = 100;
        $('.progress-bar').css('width', percentage + '%');
        $('.progress-bar').html(percentage + '% Hoàn tất');
        if (percentage == 100) {
            $('form')[0].reset();
            $('#submitProgress').delay(3000).hide();
        }
    }
    
    function SetDocumentInfo(documentId) {
        $("#documentId").val(documentId);
        $("#contentPopup .alert-info").show();
        $("#contentPopup .alert-success").hide();
        $("#contentPopup .input-group").show();
        $('#submitBtn').show();
    }

    function init_masonry() {
        var $container = $('#content');

        var gutter = 12;
        var min_width = 200;
        $container.imagesLoaded(function () {
            $container.masonry({
                itemSelector: '.box',
                gutterWidth: gutter,
                isAnimated: true,
                columnWidth: function (containerWidth) {
                    var num_of_boxes = (containerWidth / min_width | 0);

                    var box_width = (((containerWidth - (num_of_boxes - 1) * gutter) / num_of_boxes) | 0);

                    if (containerWidth < min_width) {
                        box_width = containerWidth;
                    }

                    $('.box').width(box_width);

                    return box_width;
                }
            });
        });
    }
</script>