@model SmartHealth.Core.Domain.Dtos.UserDto
@using System.Web.Optimization
@using SmartHealth.Box.Domain.Models
@using SmartHealth.Core.Domain.Models
@using SmartHealth.Web.Resources
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var level = Model.Point > 10000 ? "Platinum" : Model.Point > 5000 ? "Gold" : Model.Point > 2000 ? "Silver" : "Normal";
    var orders = (List<Order>)ViewBag.Orders;
    var days = new List<object>();
    for (var d = 1; d < 32; d++ )
    {
        days.Add(new {Text = d, Value = d});
    }
    var months = new List<object>();
    for (var m = 1; m < 13; m++)
    {
        months.Add(new { Text = m, Value = m });
    }
    var years = new List<object>();
    for (var y = 1900; y <= DateTime.Now.Year; y++)
    {
        years.Add(new { Text = y, Value = y });
    }
}

@Styles.Render("~/Content/css/contact")
<div class="leftContent" style="width: 970px">
<div class="boxLeft" style="width: 100%">
    <div class="AboxLeft" style="width: 100%">
        <div class="Tprohone">
            <h3><p>@SH.UpdateProfile</p></h3>
        </div>
        <div class="container" style="width: 940px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tabbable">
                                    <ul id="myTab" class="nav nav-tabs tab-bricky">
                                        <li class="active">
                                            <a href="#panel_tab2_example1" data-toggle="tab">
                                                Thông tin cá nhân
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#panel_tab2_example2" data-toggle="tab">
                                                Quản lý thông tin cá nhân
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#panel_tab2_example3" data-toggle="tab">
                                                Quản lý đơn hàng
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane in active" id="panel_tab2_example1">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="center" style="text-align: center">
                                                        <h4>@Model.DisplayName</h4>
                                                        <div class="user-image">
                                                            <img style="margin: auto" src="~/Content/images/@(level).jpg" />
                                                        </div>
                                                        <hr>
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <table class="table table-condensed table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="3">Thông tin liên lạc</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Địa chỉ</td>
                                                                <td>@Model.Location</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Email:</td>
                                                                <td>
                                                                    <a href="#">
                                                                        @Model.Email
                                                                    </a></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Điện thoại:</td>
                                                                <td>@Model.Phone</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-condensed table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="3">Thông tin tài khoản</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Điểm tích lũy</td>
                                                                <td>@Model.Point</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Cấp độ</td>
                                                                <td><span class="label label-sm label-success">@level</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Loại tài khoản</td>
                                                                <td><span class="label label-sm label-info">@Model.UserType</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-condensed table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="3">Thông tin thêm</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Sinh nhật</td>
                                                                <td>@String.Format("{0:dd MMMM yyyy}", Model.DOB)</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="panel_tab2_example2">
                                                
                                            <form action="@Url.Action("EditProfile", "Home", new {id = Model.Id})" method="POST">
                        
                                                <div class="row form">
                                                    <div class="form-group has-error">
                                                        @Html.ValidationMessage("error", new {@class = "help-block"})
                                                    </div>
                                                    <div class="col-md-6">
                                                        @*<div class="form-group">
                                        @Html.TextBoxFor(model => model.Username, new {@class = "form-control", placeholder = "Username", disabled = "disabled"})
                                        @Html.ValidationMessageFor(model => model.Username)
                                    </div>*@
                                                        <div class="form-group">
                                                            <label class="control-label">Tên</label>
                                                            @Html.TextBoxFor(model => model.DisplayName, new {@class = "form-control", placeholder = SH.Name})
                                                            @Html.ValidationMessageFor(model => model.DisplayName)
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Thư điện tử</label>
                                                            @Html.TextBoxFor(model => model.Email, new {@class = "form-control", placeholder = SH.Email})
                                                            @Html.ValidationMessageFor(model => model.Email)
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Địa chỉ</label>
                                                            @Html.TextBoxFor(model => model.Location, new {@class = "form-control", placeholder = SH.Address})
                                                            @Html.ValidationMessageFor(model => model.Location)
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Sinh nhật</label>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    @Html.DropDownList("Day", new SelectList(days, "Value", "Text", Model.DOB != null ? ((DateTime)Model.DOB).Day : 1), new {@class = "form-control DOB"})
                                                                </div>
                                                                <div class="col-md-4">
                                                                    @Html.DropDownList("Month", new SelectList(months, "Value", "Text", Model.DOB != null ? ((DateTime)Model.DOB).Month : 1), new {@class = "form-control DOB"})
                                                                </div>
                                                                <div class="col-md-4">
                                                                    @Html.DropDownList("Year", new SelectList(years, "Value", "Text", Model.DOB != null ? ((DateTime)Model.DOB).Year : 1900), new {@class = "form-control DOB"})
                                                                </div>
                                                            </div>
                                                            @Html.HiddenFor(model => model.DOB)
                                                            @Html.ValidationMessageFor(model => model.DOB)
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Giới tính</label>
                                                            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Gender))), new {@class = "form-control"}) 
                                                            @Html.ValidationMessageFor(model => model.Gender)
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row form">
                                                    <div class="col-md-6">
                                                    </div>
                                                    <div class="col-md-6 right">
                                                        <button id="submitBtn" style="float: right; margin-top: 10px; margin-left: 10px;" type="submit" class="btn btn-success">@SH.Update</button>
                                                        <a href="@Url.Action("ChangePassword", new {id = Model.Id})" style="float: right; margin-top: 10px; margin-left: 10px; " class="btn btn-info">@SH.ChangePassword</a>
                                                        @if (Model.Username == "admin")
                                                        {
                                                            <a href="/backoffice/article" style="float: right; margin-top: 10px; margin-left: 10px;" class="btn btn-warning">@SH.Admin</a>
                                                        }
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                        <div class="tab-pane" id="panel_tab2_example3">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Mã</th>
                                                        <th>Nội dung</th>
                                                        <th>Ngày đặt</th>
                                                        <th>Giá tiền</th>
                                                        <th>Thanh toán?</th>
                                                        <th>Trạng thái</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (orders != null)
                                                    {
                                                        foreach (var order in orders)
                                                        {
                                                            var orderDetails = order.OrderDetails.Where(a => a.Quantity > 0).Select(a => a.Quantity + " x " + a.Product.Name).ToList();
                                                            <tr>
                                                                <td><a href="@Url.Action("Order", "Home", new {order_no = order.Id})">#@order.Id</a></td>
                                                                <td>@String.Join(", ", orderDetails)</td>
                                                                <td>@String.Format("{0:dd/MM/yyyy hh:mm:ss}", order.CreatedDate)</td>
                                                                <td>@order.TotalAmount.ToString("N0")</td>
                                                                <td>@(order.IsPayed ? Html.Raw("<span class='label label-sm label-success'>Đã thanh toán</span>") : Html.Raw("<span class='label label-sm label-warning'>Chưa thanh toán</span>"))</td>
                                                                <td>@switch (order.TransactionStatus)
                                                                    {
                                                                        case 0: break;
                                                                        case 1: <span class='label label-sm label-info'>Đơn hàng đang xử lý</span> break;
                                                                        case 2: <span class='label label-sm label-info'>Đang giao hàng</span> break;
                                                                        case 3: <span class='label label-sm label-success'>Đã giao hàng</span> break;
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


    <script src="@Url.Content("~/Areas/Administrator/ClipOne/plugins/jquery-validation/dist/jquery.validate.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.DOB').change(function () {
            $('#DOB').val($('#Month').val() + '/' + $('#Day').val() + '/' + $('#Year').val() + ' 12:00:00 AM');
        });
        $('.datepicker').datepicker();
        $('form').validate({
            rules: {
                Username: {
                    minlength: 3,
                    required: true
                },
                Email: {
                    minlength: 3,
                    required: true,
                    email: true
                },
                DisplayName: {
                    minlength: 3,
                    required: true
                },
                Password: {
                    minlength: 6,
                    required: true
                },
                ConfirmPassword: {
                    minlength: 6,
                    required: true,
                    equalTo: "#Password"
                },
                Location: {
                    minlength: 10,
                    required: true
                },
                DOB: {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
                $(element).closest('.form-group').removeClass('has-success');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
                $(element).closest('.form-group').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>