@using SmartHealth.Box.Domain.Dtos
@{
    var newses = (List<ArticleDto>)ViewBag.Newses;
    var newsesMenu = (MenuDto)ViewBag.NewsesMenu;
    var clientSupportArticles = (List<ArticleDto>)ViewBag.ClientSupportArticles;
    var clientSupportArticlesMenu = (MenuDto)ViewBag.ClientSupportArticlesMenu;
}
<div class="boxTT">
    <ul>
        <li class="tit">
            <p style="cursor: pointer" onclick="window.open('@newsesMenu.Url');">@newsesMenu.Name</p>
        </li>
        @if (newses != null)
        {
            foreach (var news in newses)
            {
            <li><a href="@Url.Action("Article", "Home", new { id = news.Id })">@news.Title</a></li>
            }
        }
    </ul>
</div>
<!--boxTT-->
<div class="boxTT">
    <ul>
        <li class="tit">
            <p style="cursor: pointer" onclick="window.open('@clientSupportArticlesMenu.Url');">@clientSupportArticlesMenu.Name</p>
        </li>
        @if (clientSupportArticles != null)
        {
            foreach (var clientSupportArticle in clientSupportArticles)
            {
            <li><a href="@Url.Action("Article", "Home", new { id = clientSupportArticle.Id })">@clientSupportArticle.Title</a></li>
            }
        }
    </ul>
</div>
<!--boxTT-->
