@using SmartHealth.Web.Resources
<div class="boxTT" style="margin:0px">
                    <ul>
                        <li class="tit"><p>@SH.VisitorStatistics</p></li>
                        <li><span>@SH.VisitorCount:</span><p>@ViewBag.VisitorCount</p></li>                        
                        <li><span>@SH.MemberCount:</span><p>@ViewBag.UserCount</p></li>                        
                    </ul>
                </div><!--boxTT-->