@using SmartHealth.Box.Domain.Dtos
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var introductions = (List<ArticleDto>)ViewBag.Introductions;
    var newses = (List<ArticleDto>)ViewBag.Newses;
    var firstNews = newses.FirstOrDefault();
    var typicalProducts = (List<ProductDto>)ViewBag.TypicalProducts;
    var videoLinks = (List<MediaDto>)ViewBag.VideoLinks;
    var partners = (List<MediaDto>)ViewBag.Partners; 
}

<div class="banner">
    <div id="zalen">
        <div class="che-1"></div>
        <div class="che-2"></div>
        <div class="che-3"></div>
        <div class="che-4"></div>
        <div id="slider-wrapper">
            <div id="slider" class="nivoSlider">
                <img  src="@Url.Content("~/Content/images/ban-1.jpg")" alt=""/>
                <img  src="@Url.Content("~/Content/images/ban-2.jpg")" alt=""/>
                <img  src="@Url.Content("~/Content/images/ban-1.jpg")" alt=""/>
                <img  src="@Url.Content("~/Content/images/ban-2.jpg")" alt=""/>
            </div>
            <div class="banner-1"></div>
            <div class="banner-2"></div>
            <div class="banner-3"></div>
            <div class="banner-4"></div>
        </div>
    </div>
</div>
<div class="viewhome">
	<script type="text/javascript">
        $(document).ready(function () {
            $(".viewhomeI .viewhomeTab").hover(
            function () {
                $('.viewhomeTab').removeClass('onViewHover');
                $(this).addClass('onViewHover');
            },
            function () {
                $('.viewhomeTab').removeClass('onViewHover');
                $('.CviewI').addClass('onViewHover');
            });
        });
    </script>
    <div class="viewhomeI">
        <div class="viewhomeTab LviewI">
            @if (introductions.Count() > 0)
            {
                <p>@introductions.ElementAt(0).Title</p>
                <span>@Html.Raw(introductions.ElementAt(0).Description)</span>
                <a href="@Url.Action("Article", "Home", new { id = introductions.ElementAt(0).Id })">Chi tiết</a>
            }
        </div>
        <div class="viewhomeTab RviewI">
            @if (introductions.Count() > 1)
            {
                <p>@introductions.ElementAt(1).Title</p>
                <span>@Html.Raw(introductions.ElementAt(1).Description)</span>
                <a href="@Url.Action("Article", "Home", new { id = introductions.ElementAt(1).Id })">Chi tiết</a>
            }
        </div>
        <div class="viewhomeTab CviewI onViewHover">
            
                @if (introductions.Count() > 2)
                {
                    <p>@introductions.ElementAt(2).Title</p>
                    <span>@Html.Raw(introductions.ElementAt(2).Description)</span>
                    <a href="@Url.Action("Article", "Home", new { id = introductions.ElementAt(2).Id })">Chi tiết</a>
                }
           
        </div>
    </div>
</div>
<div class="viewIIhome">
    <div class="video">
        <div class="callbacks_container">
            <div class="nivoSlider" id="videoSlide">
                @foreach(var videoLink in videoLinks)
                {
                        if (videoLink != null)
                        {
                            <a class="fancybox-media" href="@videoLink.MediaUrl"><img  src="@videoLink.ThumbnailUrl" style="max-width:619px; max-height:392px;" alt="" /></a>
                        }
                }
            </div>
        </div>
    </div>
    <div class="news">
        <p><span>Tin tức</span></p>
        <ul>
            @if (firstNews != null)
            {
                <li class="pic"><a href="@Url.Action("Article", "Home", new { id = firstNews.Id })">
                    <img  src="@firstNews.MediaUrl" alt="" /></a></li>
                <li class="tit"><a href="@Url.Action("Article", "Home", new { id = firstNews.Id })">@firstNews.Title</a></li>
                <li class="con">@Html.Raw(firstNews.Description)</li>
            }
        </ul>
        @foreach (var news in newses.Skip(1))
        {
            <a href="@Url.Action("Article", "Home", new { id = news.Id })">@news.Title</a>
        }
    </div>
</div>
<div class="prohome">
    <div class="Tprohone">
        <h3>
            <p>Sản phẩm tiêu biểu</p>
        </h3>
    </div>
    <div class="Cprohone">
        @foreach (var typicalProduct in typicalProducts)
        {
            <div class="boxPro">
                <ul>
                    <li class="pic">
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="pic_1">
                                        <a href="@Url.Action("Product", "Home", new { id = typicalProduct.Id })">
                                            <img  src="@typicalProduct.MediaUrl" alt=""/></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="tit"><a href="@Url.Action("Product", "Home", new { id = typicalProduct.Id })">@typicalProduct.Name</a></li>
                </ul>
            </div>
        }
    </div>
</div>
<div class="prohome">
    <div class="Tprohone">
        <h3>
            <p>Đối tác phân phối</p>
        </h3>
    </div>
    <div class="Cprohone">
        <div class="sliderproducts">
            <div class="jcarousel-skin-tango">
                <div class="jcarousel-container jcarousel-container-horizontal">
                    @*<div id="carousel" class="flexslider">
                        <ul class="slides">
                            @if (partners != null)
                            {
                                foreach (var partner in partners)
                                {
                                
                                <li>
                                    <img src="@partner.ThumbnailUrl" />
                                </li>
                                }
                            }
                        </ul>
                    </div>  *@
                    <div id="mycarousel" class="flexslider partnerslider jcarousel-clip jcarousel-clip-horizontal">
                        <ul class="slides jcarousel-list jcarousel-list-horizontal">
                            @if (partners != null)
                            {
                                foreach (var partner in partners)
                                {
                                
                                <li>
                                    
                                <table cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="pic_2">
                                                <a href="@partner.MediaUrl">
                                                    <img  src="@partner.ThumbnailUrl" style="width: auto;" alt=""/></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="jcarousel-prev jcarousel-prev-horizontal">
                    </div>
                    <div class="jcarousel-next jcarousel-next-horizontal">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        //$("#videoSlide").responsiveSlides({
        //    auto: true,
        //    pager: false,
        //    nav: true,
        //    speed: 10000,
        //    namespace: "callbacks",
        //    before: function () {
        //        $('.events').append("<li>before event fired.</li>");
        //    },
        //    after: function () {
        //        $('.events').append("<li>after event fired.</li>");
        //    }
        //});
        $('#slider').nivoSlider();
        $('#videoSlide').nivoSlider({
            animSpeed: 500,
            pauseTime: 10000
        });
        $('#mycarousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: true,
            slideshow: true,
            itemWidth: 175,
            itemMargin: 15
        });
        $('.fancybox-media')
				.attr('rel', 'media-gallery')
				.fancybox({
				    openEffect: 'none',
				    closeEffect: 'none',
				    prevEffect: 'none',
				    nextEffect: 'none',

				    arrows: false,
				    helpers: {
				        media: {},
				        buttons: {}
				    }
				});
    });
  </script>