@model SmartHealth.Core.Domain.Dtos.UserDto
@using System.Web.Optimization
@using SmartHealth.Box.Domain.Dtos
@using SmartHealth.Core.Domain.Models
@using SmartHealth.Web.Resources
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var relatedProducts = (List<ProductDto>)ViewBag.RelatedProducts;
    var newses = (List<ArticleDto>)ViewBag.Newses;
    if (Session["SmartHealthUser"] == null)
    {
        Session["SmartHealthUser"] = new SessionDto();
    }
    var viewedProducts = ((SessionDto)Session["SmartHealthUser"]).ViewedProducts;
    if (ViewBag.Order != null) {((SessionDto) Session["SmartHealthUser"]).Order = (OrderDto) ViewBag.Order;}
    var order = ((SessionDto)Session["SmartHealthUser"]).Order;
    var orderDetails = order.OrderDetails.ToArray();
    decimal totalAmount = 0;
    foreach (var orderDetailDto in orderDetails)
    {
        var totalPrice = orderDetailDto.Product.SmartHealthPrice * orderDetailDto.Quantity;
        totalAmount += totalPrice;
    }
}
@Styles.Render("~/Content/css/contact")
<div class="leftContent">
    <div class="boxLeft">
        <div class="chitietsanpham">
            <p>@SH.Cart</p>
            
            <div class="GridCnt">
                <table class="TblGrid">
                    <tr>
                        <th>
                            @SH.OrderId
                        </th>
                        <th>
                           @SH.Product
                        </th>
                        <th>
                            @SH.Quantity
                        </th>
                        <th>
                            @SH.UnitPrice
                        </th>
                        <th>
                            @SH.TotalPrice
                        </th>
                        <th>
                        </th>
                    </tr>
                    @for (int i = 0; i < orderDetails.Count(); i++)
                    {
                        var orderDetail = orderDetails[i];
                        var totalPrice = orderDetail.Product.SmartHealthPrice * orderDetail.Quantity;
                        var id = i + 1;
                        if (orderDetail.Quantity != 0)
                        {
                        <tr>
                            <td width="40">@id</td>
                            <td align="left">@orderDetail.Product.Name <img src="@orderDetail.Product.MediaUrl" style="max-height: 100px"/></td>
                            <td align="left" width="100"><input type="number" style="max-width: 80px" class="productQuantity" value="@orderDetail.Quantity" index="@i"/></td>
                            <td align="left" class="smPrice">@orderDetail.Product.SmartHealthPrice.ToString("N0").Replace(",", "")</td>
                            <td align="left" class="totalPrice">@totalPrice.ToString("N0").Replace(",", "")</td>
                            <td><img src="~/Areas/Administrator/KendoUI/content/web/delete.png" index="@i" class="removeOrderProduct"/></td>
                        </tr>    
                        }
                    }
                    @if (orderDetails.Count(a => a.Quantity != 0) == 0)
                    {
                        <tr><td align="center" colspan="6">@SH.NoItemMessage</td></tr>
                    }
                    <tr>
                        <th colspan="4" style="background: #ffc416">@SH.TotalAmount</th>
                        <th colspan="2" id="totalAmount" style="background: #ffc416">@totalAmount.ToString("N0").Replace(",", "")</th>
                    </tr>
                
                </table>
            </div>
            <!-- enddiv:GridCnt  -->
        </div>
        @if (orderDetails.Any(a => a.Quantity != 0))
        {
        <div class="chitietsanpham" id="buyerInfo">
            <p>@SH.BuyerInfo</p>
            <div class="row contact">
                <form action="@Url.Action("Order", "Home")" method="POST">
                    <div class="row form">
                        <div class="col-md-1">
                        </div>
                        <div class="col-sm-10 row-col center">
                            <div class="box">
                                <div class="form-group has-error">
                                    @Html.ValidationMessage("error", new { @class = "help-block" })
                                </div>
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.Id, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Id)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control", placeholder = SH.Name })
                                    @Html.ValidationMessageFor(model => model.DisplayName)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = SH.Email })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Location, new { @class = "form-control", placeholder = SH.Address })
                                    @Html.ValidationMessageFor(model => model.Location)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = SH.Phone })
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.DOB, new { @class = "form-control datepicker", placeholder = SH.DOB })
                                    @Html.ValidationMessageFor(model => model.DOB)
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Gender))), new { @class = "form-control" }) 
                                    @Html.ValidationMessageFor(model => model.Gender)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <div class="row form">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10 right">
                            <button id="submitBtn" style="float: right; margin: 10px 0;" type="button" class="btn btn-success">@SH.PayLater</button>
                            <a id="submitBaoKimPaymentBtn" onclick="submitBaoKimPayment(); return false;" style="float: right; margin: 10px;" href="#"><img src="http://developer.baokim.vn/uploads/baokim_btn/thanhtoan-l.png" alt="Thanh toán an toàn với Bảo Kim !" border="0" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn" ></a>
                            <a id="submitPayooPaymentBtn" onclick="submitPayooPayment(); return false;" style="float: right; margin: 10px;" href="#"><img src="https://www.payoo.com.vn/img/button/PayNow.jpg" style="height: 32px; width: 90px;"></a>
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>

                </form>
            </div>
            </div>
        }
    </div>
</div>
<!--leftContent-->
<div class="rightContent">
    <div class="boxRight">
        <div class="boxRightI">
            <p>@SH.RecommendProduct</p>
            <ul>
                @if (relatedProducts != null)
                {
                    foreach (var relatedProduct in relatedProducts)
                    {
                    <li>
                        <div class="picleft">
                            <table cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td class="pic_5">
                                            <a href="@Url.Action("Product", "Home", new { id = relatedProduct.Id })">
                                                <img src="@relatedProduct.MediaUrl" alt="" /></a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <span>@relatedProduct.SmartHealthPrice.ToString("N0") đ</span>
                        <p>@relatedProduct.Name<br />@relatedProduct.Weight</p>
                         </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>@SH.ClientSupport</p>
            <div class="htkhachhang">
                <ul>
                    @if (newses != null)
                    {
                        foreach (var news in newses)
                        {
                        <li><a href="@Url.Action("Article", "Home", new { id = news.Id })">@news.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>@SH.AcceptedPayment</p>
            <div class="thanhtoan">
                <ul>
                    <li><a href="#">
                        <img src="/content/images/tt-1.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-2.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-3.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-4.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-5.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-6.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-7.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-8.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRightF">
        <div class="fb-like-box" data-href="https://www.facebook.com/pages/Smart-Health/173034079568243"
            data-width="220px" data-colorscheme="light" data-show-faces="true" data-header="true"
            data-stream="false" data-show-border="false">
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>@SH.ViewedProduct</p>
            <ul>
                @if (viewedProducts != null)
                {
                    foreach (var viewedProduct in viewedProducts)
                    {
                    <li>
                        <div class="picleft">
                            <table cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td class="pic_5">
                                            <a href="@Url.Action("Product", "Home", new { id = viewedProduct.Id })">
                                                <img src="@viewedProduct.MediaUrl" alt="" /></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <span>@viewedProduct.SmartHealthPrice.ToString("N0") đ</span>
                        <p>@viewedProduct.Name<br />@viewedProduct.Weight</p>
                         </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<!--rightContent-->
<script src="@Url.Content("~/Areas/Administrator/ClipOne/plugins/jquery-validation/dist/jquery.validate.min.js")"></script>
<script type="text/javascript">
    $(".productQuantity").change(function () {
        var quantity = $(this).val();
        var i = $(this).attr("index");
        var price = $(this).parent().parent().find(".smPrice").text();
        $(this).parent().parent().find(".totalPrice").html(parseInt(price) * parseInt(quantity));
        $.post('@Url.Action("UpdateOrderDetail", "Home")', { i: i, quantity: quantity }).done(function(result) {
            $("#OrderProductCount").html(result.productCount);
            $("#totalAmount").html(result.totalAmount);
            return false;
        });
    });
    $(".removeOrderProduct").click(function() {
        var i = $(this).attr("index");
        $(this).parent().parent().remove();
        $.post('@Url.Action("UpdateOrderDetail", "Home")', { i: i, quantity: 0 }).done(function (result) {
            $("#OrderProductCount").html(result.productCount);
            $("#totalAmount").html(result.totalAmount);
            if (result.productCount == 0) {
                $("#buyerInfo").remove();
            }
            return false;
        });
    });
    $("#submitBtn").click(function () {
        if (!$("form").valid()) return false;
        $.post('@Url.Action("Order", "Home")', $("form").serialize()).done(function (result) {
            $("#OrderProductCount").html(0);
            if (result.isSuccess) {
                $("#buyerInfo").remove();
                $(".TblGrid").remove();
                $(".GridCnt").append("<p>@SH.OrderSuccess</p>");
            }
            return false;
        });
    });
    
    function submitBaoKimPayment() {
        if (!$("form").valid()) return false;
        $.post('@Url.Action("Order", "Home")' + "?payType=BaoKim", $("form").serialize()).done(function (result) {
            $("#OrderProductCount").html(0);
            if (result.isSuccess) {
                $("#buyerInfo").remove();
                $(".TblGrid").remove();
                $(".GridCnt").append("<p>@SH.OrderSuccess</p>");
                window.open(result.payUrl, "_blank");
            }
            return false;
        });
    }
    
    function submitPayooPayment() {
        if (!$("form").valid()) return false;
        $.post('@Url.Action("Order", "Home")' + "?payType=Payoo", $("form").serialize()).done(function (result) {
            $("#OrderProductCount").html(0);
            if (result.isSuccess) {
                $("#buyerInfo").remove();
                $(".TblGrid").remove();
                $(".GridCnt").append("<p>@SH.OrderSuccess</p>");
                $(".GridCnt").append(result.redirectToProviderHTML);
                document.location.href = '@Url.Action("Order", "Home")';
                $("#ContinueButton input[type='submit']").trigger("click");
            }
            return false;
        });
    }
    $(document).ready(function () {
        $('.datepicker').datepicker();
        $('form').validate({
            rules: {
                Username: {
                    minlength: 3,
                    required: true
                },
                Email: {
                    minlength: 3,
                    required: true,
                    email: true
                },
                DisplayName: {
                    minlength: 3,
                    required: true
                },
                Phone: {
                    minlength: 10,
                    required: true
                },
                Password: {
                    minlength: 6,
                    required: true
                },
                ConfirmPassword: {
                    minlength: 6,
                    required: true,
                    equalTo: "#Password"
                },
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
                $(element).closest('.form-group').removeClass('has-success');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
                $(element).closest('.form-group').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>
