@using SmartHealth.Box.Domain.Dtos
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var productDetail = (ProductDto)ViewBag.ProductDetail;
    var productMedias = (List<MediaDto>)ViewBag.ProductMedias;
    var relatedProducts = (List<ProductDto>)ViewBag.RelatedProducts;
    var newses = (List<ArticleDto>)ViewBag.Newses;
    if (Session["SmartHealthUser"] == null)
    {
        Session["SmartHealthUser"] = new SessionDto();
    }
    var viewedProducts = ((SessionDto)Session["SmartHealthUser"]).ViewedProducts;
}
<div class="leftContent">
    <div class="boxLeft">
        <div class="chitietsanpham">
            <p>@productDetail.Name</p>
            <div  style="width: 330px; display: inline-block; margin: 10px">
                <div id="imageSlider" class="flexslider">
                    <ul class="slides">
                        @if (productMedias != null)
                        {
                            foreach (var productImage in productMedias.Where(a => a.Type == 1))
                            {
                                
                                <li>
                                    <a class="fancybox-media" href="@productImage.MediaUrl"><img src="@productImage.MediaUrl" /></a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div id="carousel" class="flexslider">
                    <ul class="slides">
                        @if (productMedias != null)
                        {
                            foreach (var productImage in productMedias.Where(a => a.Type == 1))
                            {
                                
                            <li>
                                <img src="@productImage.MediaUrl" />
                            </li>
                            }
                        }
                    </ul>
                </div>
                @*<div class="flexslider">
                    <ul class="slides">
                        @if (productMedias != null)
                        {
                            foreach (var productImage in productMedias.Where(a => a.Type == 1))
                            {
                                <li data-thumb="@productImage.MediaUrl">
                                    <img src="@productImage.MediaUrl" />
                                </li>
                            }
                        }
                    </ul>
                </div>*@
            </div>
            <!--hinhsanpham-->
            <div class="thongtinsp">
                <ul>
                    <li class="Pr1">
                        <input type="hidden" value="@productDetail.Id" id="ProductId"/>
                        <span class="G-1">
                            <p>
                                Giá bán:</p>@productDetail.SmartHealthPrice.ToString("N0") ₫</span> <span class="G-2">
                                    <p>
                                        Giá NY:</p>@productDetail.MarketPrice.ToString("N0") ₫</span> <span>
                                            <p>
                                                Hãng sản xuất:</p>@productDetail.Brand</span> <span>
                                                    <p>
                                                        Trọng lượng:</p>@productDetail.Weight</span> <span>
                                                            <p>
                                                                Lượt xem:</p>@productDetail.ViewCount</span>
                    </li>
                    <li class="Pr2"><span>
                        <p>
                            SL mua:</p>
                        <input class="slu" type="text" id="Quantity" />
                        (@productDetail.Status) </span><span>
                            <p>
                                Số tiền thanh toán:</p>
                            <span id="CalculatedPrice">0 vnđ</span></span> </li>
                    <li class="Pr3"><a id="Buy" href="#">
                        <img src="/Content/images/mua.png" alt="" /></a> </li>
                </ul>
            </div>
            <!--thongtinsp-->
            <div class="thongtincanbiet">
                <div class="container">
                    <ul class="tabs">
                        <li><a href="#tab1"><span>Mô tả</span></a></li>
                        <li><a href="#tab2"><span>Thuộc tính</span></a></li>
                        <li><a href="#tab3"><span>Đánh giá</span></a></li>
                        <li><a href="#tab4"><span>Video</span></a></li>
                    </ul>
                    <div class="tab_container">
                        <div style="display: block;" id="tab1" class="tab_content">
                            <div class="xanh">
                                <div class="mota">
                                    @Html.Raw(productDetail.Introduction)
                                </div>
                                <div style="margin: 10px 10px;">
                                    <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-numposts="12" data-width="640">
                                    </div>
                                </div>
                            </div>
                            <!--End .xanh-->
                        </div>
                        <div style="display: block;" id="tab2" class="tab_content">
                            <div class="xanh">
                                <div class="thuoctinh">
                                    @Html.Raw(productDetail.Property)
                                </div>
                            </div>
                            <!--End .xanh-->
                        </div>
                        <div style="display: none;" id="tab3" class="tab_content">
                            <div class="xanh">
                                <div class="danhgia">
                                    @Html.Raw(productDetail.Review)
                                </div>
                                <div style="margin: 10px 10px;">
                                    <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-numposts="12" data-width="640">
                                    </div>
                                </div>
                            </div>
                            <!--End .xanh-->
                        </div>
                        <div style="display: none;" id="tab4" class="tab_content">
                            <div class="xanh">
                                <div class="product-video-tab">
                                    <p>
                                        @if (productMedias != null)
                                        {
                                            foreach (var productVideo in productMedias.Where(a => a.Type == 2))
                                            {
                                                <a class="fancybox-media" href="@productVideo.MediaUrl"><img src="@productVideo.ThumbnailUrl" style="max-width:200px; max-height:100px;" alt="" /></a>
                                            }
                                        }
                                    </p>
                                </div>
                                
                            </div>
                            <!--End .xanh-->
                        </div>
                    </div>
                </div>
            </div>
            <!--End .thongtincanbiet-->
        </div>
        <!--chitietsanpham-->
        <div class="tukhoa">
            <span>Từ khóa:</span>
            @foreach (var tag in productDetail.Tags.Split(','))
            {
                <a href="@Url.Action("ProductList", "Home", new { search = tag })">@tag</a>
            }
        </div>
    </div>
</div>
<!--leftContent-->
<div class="rightContent">
    <div class="boxRight">
        <div class="boxRightI">
            <p>
                Sản phẩm liên quan</p>
            <ul>
                @if (relatedProducts != null)
                {
                    foreach (var relatedProduct in relatedProducts)
                    {
                    <li>
                        <div class="picleft">
                            <table cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td class="pic_5">
                                            <a href="@Url.Action("Product", "Home", new { id = relatedProduct.Id })">
                                                <img src="@relatedProduct.MediaUrl" alt="" /></a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <p>@relatedProduct.Name<br />@relatedProduct.Weight</p>
                        <span>@relatedProduct.SmartHealthPrice.ToString("N0") đ</span> </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>
                Hỗ trợ khách hàng</p>
            <div class="htkhachhang">
                <ul>
                    @if (newses != null)
                    {
                        foreach (var news in newses)
                        {
                        <li><a href="@Url.Action("Article", "Home", new { id = news.Id })">@news.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>
                Chấp nhận thanh toán</p>
            <div class="thanhtoan">
                <ul>
                    <li><a href="#">
                        <img src="/content/images/tt-1.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-2.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-3.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-4.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-5.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-6.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-7.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-8.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRightF">
        <div class="fb-like-box" data-href="https://www.facebook.com/pages/Smart-Health/173034079568243"
            data-width="220px" data-colorscheme="light" data-show-faces="true" data-header="true"
            data-stream="false" data-show-border="false">
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>
                Sản phẩm đã xem</p>
            <ul>
                @if (viewedProducts != null)
                {
                    foreach (var viewedProduct in viewedProducts)
                    {
                    <li>
                        <div class="picleft">
                            <table cellspacing="0" cellpadding="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td class="pic_5">
                                            <a href="@Url.Action("Product", "Home", new { id = viewedProduct.Id })">
                                                <img src="@viewedProduct.MediaUrl" alt="" /></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>@viewedProduct.Name<br />@viewedProduct.Weight</p>
                        <span>@viewedProduct.SmartHealthPrice.ToString("N0") đ</span> </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<!--rightContent-->
<script type="text/javascript">
    $(document).ready(function () {
        $("#Buy").click(function (e) {
            if ($("#Quantity").val() == '' || $("#Quantity").val() < 1) {
                alert('Số lượng tối thiểu là 1!');
                return false;
            }
            $.post('@Url.Action("AddOrderProduct", "Home")', { id: $("#ProductId").val(), quantity: $("#Quantity").val() }).done(function (result) {
                $("#OrderProductCount").html(result);
                return false;
            });
        });
        $("#Quantity").change(function (e) {
            $("#CalculatedPrice").html();
            var quantity = parseFloat($("#Quantity").val());
            var price = parseFloat('@productDetail.SmartHealthPrice.ToString("N2").Replace(",", "")');
            $("#CalculatedPrice").html(quantity * price);
        });
        //$('.flexslider').flexslider({
        //    animation: "slide",
        //    controlNav: "thumbnails"
        //});
        $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 75,
            itemMargin: 5,
            asNavFor: '#imageSlider'
        });

        $('#imageSlider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
        $('.fancybox-media')
				.attr('rel', 'media-gallery')
				.fancybox({
				    openEffect: 'none',
				    closeEffect: 'none',
				    prevEffect: 'none',
				    nextEffect: 'none',

				    arrows: false,
				    helpers: {
				        media: {},
				        buttons: {}
				    }
				});
    });
</script>
