@{
    ViewBag.Title = "CreateOrUpdateArticle";
    Layout = "~/Areas/Admin/Views/Shared/_ReponsiveLayout.cshtml";
}

@using (Html.BeginForm("CreateOrUpdateArticle", "Article", FormMethod.Post, new { id = "article-form" }))
{
    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="clip-grid"></i>
                                Hình ảnh
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="icon-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="icon-remove"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body panel-scroll" style="height:300px">
                                <form action="#" role="form" class="smart-wizard form-horizontal" id="troy">
										<div id="wizard" class="swMain">
											<ul>
												<li>
													<a href="#step-1">
														<div class="stepNumber">
															1
														</div>
														<span class="stepDesc"> Step 1
															<br />
															<small>Step 1 description</small> </span>
													</a>
												</li>
												<li>
													<a href="#step-2">
														<div class="stepNumber">
															2
														</div>
														<span class="stepDesc"> Step 2
															<br />
															<small>Step 2 description</small> </span>
													</a>
												</li>
												<li>
													<a href="#step-3">
														<div class="stepNumber">
															3
														</div>
														<span class="stepDesc"> Step 3
															<br />
															<small>Step 3 description</small> </span>
													</a>
												</li>
												<li>
													<a href="#step-4">
														<div class="stepNumber">
															4
														</div>
														<span class="stepDesc"> Step 4
															<br />
															<small>Step 4 description</small> </span>
													</a>
												</li>
											</ul>
											<div class="progress progress-striped active progress-sm">
												<div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-success step-bar">
													<span class="sr-only"> 0% Complete (success)</span>
												</div>
											</div>
											<div id="step-1">
												<h2 class="StepTitle">Step 1 Content</h2>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Username <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="username" name="username" placeholder="Text Field">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Email <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<input type="email" class="form-control" id="email" name="email" placeholder="Text Field">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Password <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<input type="password" class="form-control" id="password" name="password" placeholder="Text Field">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Confirm Password <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<input type="password" class="form-control" id="password_again" name="password_again" placeholder="Text Field">
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-2 col-sm-offset-8">
														<button class="btn btn-blue next-step btn-block">
															Next <i class="icon-circle-arrow-right"></i>
														</button>
													</div>
												</div>
											</div>
											<div id="step-2">
												<h2 class="StepTitle">Step 2 Content</h2>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														full_name <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="full_name" name="full_name" placeholder="Text Field">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Phone Number <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="phone" name="phone" placeholder="Text Field">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Gender <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<label class="radio-inline">
															<input type="radio" class="grey" value="f" name="gender" id="gender_female" >
															Female
														</label>
														<label class="radio-inline">
															<input type="radio" class="grey" value="m" name="gender"  id="gender_male">
															Male
														</label>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Address <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="address" name="address" placeholder="Text Field">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Country <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<select class="form-control" id="country" name="country">
															<option value="">&nbsp;</option>
															<option value="Country 1">Country 1</option>
															<option value="Country 2">Country 2</option>
															<option value="Country 3">Country 3</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														City <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="city" name="city" placeholder="Text Field">
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-2 col-sm-offset-3">
														<button class="btn btn-light-grey back-step btn-block">
															<i class="icon-circle-arrow-left"></i> Back
														</button>
													</div>
													<div class="col-sm-2 col-sm-offset-3">
														<button class="btn btn-blue next-step btn-block">
															Next <i class="icon-circle-arrow-right"></i>
														</button>
													</div>
												</div>
											</div>
											<div id="step-3">
												<h2 class="StepTitle">Step 3 Title</h2>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Card Holder Name <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="card_name" name="card_name" placeholder="Text Field">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Card Number <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="card_number" name="card_number" placeholder="Text Field">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														CVC <span class="symbol required"></span>
													</label>
													<div class="col-sm-4">
														<input type="text" class="form-control" id="card_cvc" name="card_cvc" placeholder="Text Field">
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Expiration(MM/YYYY) <span class="symbol required"></span>
													</label>
													<div class="col-sm-4">
														<div class="row">
															<div class="col-sm-4">
																<select class="form-control" id="card_expiry_mm" name="card_expiry_mm">
																	<option value="">MM</option>
																	<option value="01">1</option>
																	<option value="02">2</option>
																	<option value="03">3</option>
																	<option value="04">4</option>
																	<option value="05">5</option>
																	<option value="06">6</option>
																	<option value="07">7</option>
																	<option value="08">8</option>
																	<option value="09">9</option>
																	<option value="10">10</option>
																	<option value="11">11</option>
																	<option value="12">12</option>
																</select>
															</div>
															<div class="col-sm-4">
																<input type="text" class="form-control" name="card_expiry_yyyy" id="card_expiry_yyyy" placeholder="YYYY">
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Payment Options <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<div class="checkbox">
															<label>
																<input type="checkbox" class="grey" value="" name="payment" id="payment1">
																Auto-Pay with this Credit Card
															</label>
														</div>
														<div class="checkbox">
															<label>
																<input type="checkbox" class="grey" value="" name="payment"  id="payment2">
																Email me monthly billing
															</label>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-2 col-sm-offset-3">
														<button class="btn btn-light-grey back-step btn-block">
															<i class="icon-circle-arrow-left"></i> Back
														</button>
													</div>
													<div class="col-sm-2 col-sm-offset-3">
														<button class="btn btn-blue next-step btn-block">
															Next <i class="icon-circle-arrow-right"></i>
														</button>
													</div>
												</div>
											</div>
											<div id="step-4">
												<h2 class="StepTitle">Step 4 Title</h2>
												<h3>Account</h3>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Username:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="username"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Email:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="email"></p>
													</div>
												</div>
												<h3>Profile</h3>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Fullname:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="full_name"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Gender:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="gender"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Phone:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="phone"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Address:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="address"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														City:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="city"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Country:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="country"></p>
													</div>
												</div>
												<h3>Billing</h3>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Card Name:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="card_name"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Card Number:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="card_number"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														CVC:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="card_cvc"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Expiration:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="card_expiry"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Payment Options:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="payment"></p>
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-2 col-sm-offset-8">
														<button class="btn btn-success finish-step btn-block">
															Finish <i class="icon-circle-arrow-right"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</form>
                               @* <div id="upload-image">
                                    <input name="files" id="files" type="file" />
                                </div>
                                <div id="article-image-listView" class="row"></div>
                                <div id="article-image-pager" class="k-pager-wrap"></div>*@
                            </div>
                        </div>
                    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-checkbox"></i>
                Biên soạn bài viết
                                    <div class="panel-tools">
                                        <a id="save-article" class="btn btn-xs btn-link" href="#">
                                            <i class="clip-checkmark-2"></i>
                                        </a>
                                        <a id="cancel-article" class="btn btn-xs btn-link" href="#">
                                            <i class="clip-arrow-left-3"></i>
                                        </a>
                                        <a id="message-article" class="btn btn-xs btn-link" style="display: none" href="#"></a>
                                        <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a>
                                        <a class="btn btn-xs btn-link panel-close" href="#">
                                            <i class="icon-remove"></i>
                                        </a>
                                    </div>
            </div>
            <div class="panel-body panel-scroll" style="height: 300px">
                <div class="box-content">
                    <div class="input-row">
                        <div class="column-left">
                            <a class="k-button delete-imageurl" onclick="setMediaUrl(''); return false;" href="#"><span class="k-icon k-i-close"></span></a>
                            <a href="#" onclick="return false;">
                                <img id="avatar" src="@Url.Content("~/Content/images/no-image.jpg")" />
                                <input type="hidden" name="MediaUrl" id="MediaUrl" value="@Url.Content("~/Content/images/no-image.jpg")" />
                            </a>
                        </div>
                        <div class="column-right">
                            <div class="input-row">
                                <p>Tiêu đề: </p>
                                <input type="hidden" id="Id" name="Id" />
                                <input type="text" class="k-textbox" id="Title" name="Title" required validationmessage="Vui lòng nhập tiêu đề!" />
                            </div>
                            <div class="input-row">
                                <p>Danh mục: </p>
                                <select id="Category" name="Category"></select>
                                <input type="hidden" id="Categories" name="Categories" />
                            </div>
                            <div class="input-row">
                                <p>Mô tả: </p>
                                <textarea class="k-textbox" id="Description" name="Description" rows="3" cols="1" style="width: 420px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="input-row">
                        <div id="tabstrip">
                            <ul>
                                <li class="k-state-active">Nội dung</li>
                                <li>Thông tin</li>
                                <li>Hình ảnh</li>
                            </ul>
                            <div>
                                <textarea id="Content" name="Content"></textarea>
                            </div>
                            <div>
                                <div class="input-row">
                                    <p>Tác giả: </p>
                                    <input type="text" class="k-textbox" id="Author" name="Author" />
                                </div>
                                <div class="input-row">
                                    <p>Thứ tự: </p>
                                    <input type="text" id="Priority" name="Priority" />
                                </div>
                                <div class="input-row">
                                    <p>Ngôn ngữ: </p>
                                    <input type="text" id="LanguageId" name="LanguageId" />
                                </div>
                                <div class="input-row">
                                    <p>Nhãn: </p>
                                    <textarea class="k-textbox" id="Tags" name="Tags" rows="4" cols="1" style="width: 100%"></textarea>
                                </div>
                            </div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/x-kendo-template" id="article-image-template">
    <div class="col-md-3 col-sm-4 gallery-img">
							<div class="wrap-image">
								<a href="#:MediaUrl#" data-lightbox="roadtrip" title="#:Description#">
									<img src="#:MediaUrl#" alt="" class="img-responsive">
								</a>
								<div class="tools tools-bottom">
									<a href="#:MediaUrl#">
										<i class="clip-link-4"></i>
									</a>
									<a href="\\#" onclick="setMediaUrl('#:MediaUrl#'); return false;" >
										<i class="clip-pencil-3 "></i>
									</a>
									<a href="\\#" onclick="removeImage('#:Id#'); return false;">
										<i class="clip-close-2"></i>
									</a>
								</div>
							</div>
						</div>
</script>
<script>
    $(document).ready(function () {
        var articleImageDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetImages", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models), page: options.page, pageSize: 32 };
                        }
                        return null;
                    }
                },
            batch: true,
            pageSize: 16
        });
        
        $("#article-image-pager").kendoPager({
            dataSource: articleImageDataSource
        });

        var articleImageListView = $("#article-image-listView").kendoListView({
            dataSource: articleImageDataSource,
            template: kendo.template($("#article-image-template").html())
        }).data("kendoListView");

        $("#files").kendoUpload({
            multiple: false,
            async: {
                saveUrl: '@Url.Action("Upload", "Media")',
                autoUpload: true
            },
            localization: {
                select: 'Thêm ảnh'
            },
            success: onSuccess
        });
        function onSuccess(e) {
            $(".k-upload-files").fadeOut(5000, function () {
                $(this).remove();
            });
            articleImageListView.dataSource.read();
        }

        $("#save-article").click(function (e) {
            var validator = $("#article-form").kendoValidator().data("kendoValidator");
            if (validator.validate()) {
                tinyMCE.triggerSave();
                $.post($("#article-form").attr('action'), $("#article-form").serialize()).done(function (result) {
                    grid.dataSource.read();
                    $("#Id").val(result.Id);
                    $("#message-article").html('<span class="k-icon k-i-note"></span>Lưu thành công!');
                    $("#message-article").css('float', 'right');
                    $("#message-article").show();
                    $("#message-article").fadeOut(4000, function () {
                        $(this).html('');
                    });
                });
            } 
            return false;
        });

        $("#cancel-article").click(function (e) {
            splitterToggle();
        });

        function splitterToggle() {
            var pane = getPane(1);
            if (!pane) return;

            splitter.toggle(pane, $(pane).width() <= 0);
        }
        
        tinymce.init({
            selector: "#Content",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            height: 305
        });
        
        var categoryMultiSelect = $("#Category").kendoMultiSelect({
            placeholder: "Chọn danh mục...",
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: false,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetCategories", "Article")',
                        type: "post",
                        dataType: "json"
                    }
                }
            },
            change: onChangeCategory
        }).data("kendoMultiSelect");

        function onChangeCategory() {
            $("#Categories").val(categoryMultiSelect.value());
        }

        var priorityNumeric = $("#Priority").width(150).kendoNumericTextBox().data("kendoNumericTextBox");

        var languageDropDownList = $("#LanguageId").width(150).kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                        { text: "Tiếng Việt", value: "1" },
                        { text: "English", value: "2" }
            ]
        }).data("kendoDropDownList");

        var tabStrip = $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        }).data("kendoTabStrip");

        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false }
            ]
        });

        var splitter = $("#horizontal").kendoSplitter({
            orientation: "horizontal",
            panes: [
                { collapsible: true, size: "20%" },
                { collapsible: true, size: "80%" },
                { collapsible: true, size: "0%" }
            ]
        }).data("kendoSplitter");
    });

    function setMediaUrl(url) {
        if (url != "" && url != null) {
            $("#avatar").attr("src", url);
        } else {
            $("#avatar").attr("src", "@Url.Content("~/Content/images/no-image.jpg")");
        }
        $("#MediaUrl").val(url);
    }
    
    function removeImage(id) {
        $.post('@Url.Action("DeleteImage", "Media")', { id: id }).done(function () {
            $("#article-image-listView").data("kendoListView").dataSource.read();
        });
    }
</script>

