@{
    ViewBag.Title = "CreateOrUpdateArticle";
    Layout = "~/Areas/Admin/Views/Shared/_ReponsiveLayout.cshtml";
}

@using (Html.BeginForm("CreateOrUpdateArticle", "Article", FormMethod.Post, new { id = "article-form" }))
{
    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="clip-grid"></i>
                                Hình ảnh
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="icon-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="icon-remove"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body panel-scroll" style="height:300px">
                                <div class="form-group">
													<label class="col-sm-3 control-label">
														Username <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<input type="text" class="form-control" id="username" name="username" placeholder="Text Field">
													</div>
												</div>
                                <div id="upload-image">
                                    <input name="files" id="files" type="file" />
                                </div>
                                <div id="article-image-listView" class="row"></div>
                                <div id="article-image-pager" class="k-pager-wrap"></div>
                            </div>
                        </div>
                    </div>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="clip-checkbox"></i>
                Biên soạn bài viết
                                    <div class="panel-tools">
                                        <a id="save-article" class="btn btn-xs btn-link" href="#">
                                            <i class="clip-checkmark-2"></i>
                                        </a>
                                        <a id="cancel-article" class="btn btn-xs btn-link" href="#">
                                            <i class="clip-arrow-left-3"></i>
                                        </a>
                                        <a id="message-article" class="btn btn-xs btn-link" style="display: none" href="#"></a>
                                        <a class="btn btn-xs btn-link panel-collapse collapses" href="#"></a>
                                        <a class="btn btn-xs btn-link panel-close" href="#">
                                            <i class="icon-remove"></i>
                                        </a>
                                    </div>
            </div>
            <div class="panel-body panel-scroll" style="height: 300px">
                <div class="box-content">
                    <div class="input-row">
                        <div class="column-left">
                            <a class="k-button delete-imageurl" onclick="setImageUrl(''); return false;" href="#"><span class="k-icon k-i-close"></span></a>
                            <a href="#" onclick="return false;">
                                <img id="avatar" src="@Url.Content("~/Content/images/no-image.jpg")" />
                                <input type="hidden" name="ImageUrl" id="ImageUrl" value="@Url.Content("~/Content/images/no-image.jpg")" />
                            </a>
                        </div>
                        <div class="column-right">
                            <div class="input-row">
                                <p>Tiêu đề: </p>
                                <input type="hidden" id="Id" name="Id" />
                                <input type="text" class="k-textbox" id="Title" name="Title" required validationmessage="Vui lòng nhập tiêu đề!" />
                            </div>
                            <div class="input-row">
                                <p>Danh mục: </p>
                                <select id="Category" name="Category"></select>
                                <input type="hidden" id="Categories" name="Categories" />
                            </div>
                            <div class="input-row">
                                <p>Mô tả: </p>
                                <textarea class="k-textbox" id="Description" name="Description" rows="3" cols="1" style="width: 420px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="input-row">
                        <div id="tabstrip">
                            <ul>
                                <li class="k-state-active">Nội dung</li>
                                <li>Thông tin</li>
                                <li>Hình ảnh</li>
                            </ul>
                            <div>
                                <textarea id="Content" name="Content"></textarea>
                            </div>
                            <div>
                                <div class="input-row">
                                    <p>Tác giả: </p>
                                    <input type="text" class="k-textbox" id="Author" name="Author" />
                                </div>
                                <div class="input-row">
                                    <p>Thứ tự: </p>
                                    <input type="text" id="Priority" name="Priority" />
                                </div>
                                <div class="input-row">
                                    <p>Ngôn ngữ: </p>
                                    <input type="text" id="LanguageId" name="LanguageId" />
                                </div>
                                <div class="input-row">
                                    <p>Nhãn: </p>
                                    <textarea class="k-textbox" id="Tags" name="Tags" rows="4" cols="1" style="width: 100%"></textarea>
                                </div>
                            </div>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/x-kendo-template" id="article-image-template">
    <div class="col-md-3 col-sm-4 gallery-img">
							<div class="wrap-image">
								<a href="#:MediaUrl#" data-lightbox="roadtrip" title="#:Description#">
									<img src="#:MediaUrl#" alt="" class="img-responsive">
								</a>
								<div class="tools tools-bottom">
									<a href="#:MediaUrl#">
										<i class="clip-link-4"></i>
									</a>
									<a href="\\#" onclick="setImageUrl('#:MediaUrl#'); return false;" >
										<i class="clip-pencil-3 "></i>
									</a>
									<a href="\\#" onclick="removeImage('#:Id#'); return false;">
										<i class="clip-close-2"></i>
									</a>
								</div>
							</div>
						</div>
</script>
<script>
    $(document).ready(function () {
        var articleImageDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetImages", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models), page: options.page, pageSize: 32 };
                        }
                        return null;
                    }
                },
            batch: true,
            pageSize: 16
        });
        
        $("#article-image-pager").kendoPager({
            dataSource: articleImageDataSource
        });

        var articleImageListView = $("#article-image-listView").kendoListView({
            dataSource: articleImageDataSource,
            template: kendo.template($("#article-image-template").html())
        }).data("kendoListView");

        $("#files").kendoUpload({
            multiple: false,
            async: {
                saveUrl: '@Url.Action("Upload", "Media")',
                autoUpload: true
            },
            localization: {
                select: 'Thêm ảnh'
            },
            success: onSuccess
        });
        function onSuccess(e) {
            $(".k-upload-files").fadeOut(5000, function () {
                $(this).remove();
            });
            articleImageListView.dataSource.read();
        }

        $("#save-article").click(function (e) {
            var validator = $("#article-form").kendoValidator().data("kendoValidator");
            if (validator.validate()) {
                tinyMCE.triggerSave();
                $.post($("#article-form").attr('action'), $("#article-form").serialize()).done(function (result) {
                    grid.dataSource.read();
                    $("#Id").val(result.Id);
                    $("#message-article").html('<span class="k-icon k-i-note"></span>Lưu thành công!');
                    $("#message-article").css('float', 'right');
                    $("#message-article").show();
                    $("#message-article").fadeOut(4000, function () {
                        $(this).html('');
                    });
                });
            } 
            return false;
        });

        $("#cancel-article").click(function (e) {
            splitterToggle();
        });

        function splitterToggle() {
            var pane = getPane(1);
            if (!pane) return;

            splitter.toggle(pane, $(pane).width() <= 0);
        }
        
        tinymce.init({
            selector: "#Content",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            height: 305
        });
        
        var categoryMultiSelect = $("#Category").kendoMultiSelect({
            placeholder: "Chọn danh mục...",
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: false,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetCategories", "Article")',
                        type: "post",
                        dataType: "json"
                    }
                }
            },
            change: onChangeCategory
        }).data("kendoMultiSelect");

        function onChangeCategory() {
            $("#Categories").val(categoryMultiSelect.value());
        }

        var priorityNumeric = $("#Priority").width(150).kendoNumericTextBox().data("kendoNumericTextBox");

        var languageDropDownList = $("#LanguageId").width(150).kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                        { text: "Tiếng Việt", value: "1" },
                        { text: "English", value: "2" }
            ]
        }).data("kendoDropDownList");

        var tabStrip = $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        }).data("kendoTabStrip");

        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false }
            ]
        });

        var splitter = $("#horizontal").kendoSplitter({
            orientation: "horizontal",
            panes: [
                { collapsible: true, size: "20%" },
                { collapsible: true, size: "80%" },
                { collapsible: true, size: "0%" }
            ]
        }).data("kendoSplitter");
    });

    function setImageUrl(url) {
        if (url != "" && url != null) {
            $("#avatar").attr("src", url);
        } else {
            $("#avatar").attr("src", "@Url.Content("~/Content/images/no-image.jpg")");
        }
        $("#ImageUrl").val(url);
    }
    
    function removeImage(id) {
        $.post('@Url.Action("DeleteImage", "Media")', { id: id }).done(function () {
            $("#article-image-listView").data("kendoListView").dataSource.read();
        });
    }
</script>

