@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="vertical">
    <div id="top-pane">
        <div id="horizontal" style="height: 100%; width: 100%;">
            <div id="center-pane">
                <div class="pane-content">
                    <div class="box-content">
                        <div class="input-row">
                            <div id="tabstrip">
                                <ul>
                                    <li class="k-state-active">Menu</li>
                                    <li>Video trang chủ</li>
                                    <li>Banner quảng cáo</li>
                                    <li>Đối tác phân phối</li>
                                    <li>Slider trang chủ</li>
                                </ul>
                                <div>
                                    <div id="grid">
                                    </div>
                                </div>
                                <div>
                                    <div class="box-content">
                                        <a id="add-video" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Thêm Video</a>
                                    </div>
                                    <div id="product-video-listView"></div>
                                    <div id="product-video-pager" class="k-pager-wrap"></div>
                                </div>
                                <div>
                                    <div class="box-content">
                                        <a id="add-banner" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Thêm Banner</a>
                                    </div>
                                    <div id="banner-listView"></div>
                                    <div id="banner-pager" class="k-pager-wrap"></div>
                                </div>
                                <div>
                                    <div class="box-content">
                                        <a id="add-partner" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Thêm Partner</a>
                                    </div>
                                    <div id="partner-listView"></div>
                                    <div id="partner-pager" class="k-pager-wrap"></div>
                                </div>
                                <div>
                                    <div class="box-content">
                                        <a id="add-sliderImage" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Thêm Partner</a>
                                    </div>
                                    <div id="sliderImage-listView"></div>
                                    <div id="sliderImage-pager" class="k-pager-wrap"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-content">
                        URL Format
                        <table>
                            <tr>
                                <td>
                                    Danh sách bài viết
                                </td>
                                <td>
                                    <input style="width:240px;" type="text" value="lang/articleList/CategotyID" readonly="readonly"/>
                                </td>
                                <td>
                                    Chi tiết bài viết
                                </td>
                                <td>
                                    <input style="width:240px;" type="text" value="lang/article/id"  readonly="readonly"/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Danh sách sản phẩm 
                                </td>
                                <td>
                                    <input style="width:240px;" type="text" value="/lang/productlist/categoryid"  readonly="readonly"/>
                                </td>
                                <td>
                                    Chi tiết sản phẩm
                                </td>
                                <td>
                                    <input style="width:240px;" type="text" value="/lang/product/id"  readonly="readonly"/>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-kendo-template" id="view-template">
    <div class="product-video-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
                <a class="k-button k-button-icontext k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
            </div>
            
        <img width="100%" height="100%" src="#:ThumbnailUrl#" frameborder="0"/>
        </div>
</script>
<script type="text/x-kendo-tmpl" id="edit-template">
        <div class="product-video-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
                <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
            </div>
            <dl>
                <dt>Url</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:MediaUrl" name="MediaUrl" required="required" validationMessage="required" />
                    <span data-for="MediaUrl" class="k-invalid-msg"></span>
                </dd>
                <dt>Avatar</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:ThumbnailUrl" name="ThumbnailUrl" required="required" validationMessage="required" />
                    <span data-for="ThumbnailUrl" class="k-invalid-msg"></span>
                </dd>
                <dt>Mô tả</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:Description" name="Description" required="required" validationMessage="required" />
                    <span data-for="Description" class="k-invalid-msg"></span>
                </dd>
            </dl>
        </div>
</script>
<script type="text/x-kendo-template" id="view-banner-template">
    <div class="product-video-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
                <a class="k-button k-button-icontext k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
            </div>
            
        <img width="100%" height="100%" src="#:ThumbnailUrl#" frameborder="0"/>
        </div>
</script>
<script type="text/x-kendo-tmpl" id="edit-banner-template">
        <div class="product-video-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
                <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
            </div>
            <dl>
                <dt>Url</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:MediaUrl" name="MediaUrl" required="required" validationMessage="required" />
                    <span data-for="MediaUrl" class="k-invalid-msg"></span>
                </dd>
                <dt>Icon</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:ThumbnailUrl" name="ThumbnailUrl" required="required" validationMessage="required" />
                    <span data-for="ThumbnailUrl" class="k-invalid-msg"></span>
                </dd>
                <dt>Vị trí</dt>
                <dd>
                    <select data-role="dropdownlist" data-bind="value:Type" data-value-field="Type" name="Type" required="required" validationMessage="không được trống">  
                       <option value="41">Bên trái</option>  
                       <option value="42">Bên phải</option>
                    </select>
                    <span data-for="Type" class="k-invalid-msg"></span>
                </dd>
            </dl>
        </div>
</script>
<script type="text/x-kendo-template" id="view-partner-template">
    <div class="product-video-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
                <a class="k-button k-button-icontext k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
            </div>
            
        <img width="100%" height="100%" src="#:ThumbnailUrl#" frameborder="0"/>
        </div>
</script>
<script type="text/x-kendo-tmpl" id="edit-partner-template">
        <div class="product-video-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
                <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
            </div>
            <dl>
                <dt>Link</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:MediaUrl" name="MediaUrl" required="required" validationMessage="required" />
                    <span data-for="MediaUrl" class="k-invalid-msg"></span>
                </dd>
                <dt>Icon</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:ThumbnailUrl" name="ThumbnailUrl" required="required" validationMessage="required" />
                    <span data-for="ThumbnailUrl" class="k-invalid-msg"></span>
                </dd>
                <dt>Mô tả</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:Description" name="Description" required="required" validationMessage="required" />
                    <span data-for="Description" class="k-invalid-msg"></span>
                </dd>
            </dl>
        </div>
</script>
<script type="text/x-kendo-template" id="view-sliderImage-template">
    <div class="product-video-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
                <a class="k-button k-button-icontext k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
            </div>
            
        <img width="100%" height="100%" src="#:ThumbnailUrl#" frameborder="0"/>
        </div>
</script>
<script type="text/x-kendo-tmpl" id="edit-sliderImage-template">
        <div class="product-video-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
                <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
            </div>
            <dl>
                <dt>Link</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:MediaUrl" name="MediaUrl" required="required" validationMessage="required" />
                    <span data-for="MediaUrl" class="k-invalid-msg"></span>
                </dd>
                <dt>Icon</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:ThumbnailUrl" name="ThumbnailUrl" required="required" validationMessage="required" />
                    <span data-for="ThumbnailUrl" class="k-invalid-msg"></span>
                </dd>
                <dt>Mô tả</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:Description" name="Description" required="required" validationMessage="required" />
                    <span data-for="Description" class="k-invalid-msg"></span>
                </dd>
            </dl>
        </div>
</script>
<script>
    $(document).ready(function () {
        var grid = $("#grid").kendoGrid({
            dataSource: {
                autoSync: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetMenus", "Menu")',
                        type: "post",
                        dataType: "json"
                    },
                    update: {
                        url: '@Url.Action("CreateOrUpdateMenu", "Menu")',
                        type: "post",
                        dataType: "json"
                    },
                    destroy: {
                        url: '@Url.Action("DeleteMenu", "Menu")',
                        type: "post",
                        dataType: "json"
                    },
                    create: {
                        url: '@Url.Action("CreateOrUpdateMenu", "Menu")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: true },
                            Name: { validation: { required: true} },
                            Url: { type: "string" },
                            Icon: { type: "string" },
                            Priority: { type: "number" },
                            ParentId: { type: "number" },
                            Language: { defaultValue: { CultureInfo: "vi-vn", Name: "Tiếng Việt" } }
                        }
                    }
                }
            },
            height: 710,
            filterable: true,
            sortable: true,
            pageable: true,
            toolbar: ["create"],
            columns: [{
                editable: false,
                width: 50,
                field: "Id"
            }, {
                field: "Name",
                width: 200,
                title: "Tên"
            }, {
                field: "Url",
                title: "Đường dẫn"
            }, {
                field: "Icon",
                title: "Icon"
            }, {
                field: "Priority",
                width: 100,
                title: "Thứ tự"
            }, {
                field: "ParentId",
                width: 100,
                title: "Id cha"
            }, {
                field: "Language",
                title: "Ngôn ngữ",
                editor: languageDropDownEditor,
                template: "#=Language.Name#"
            },
            { command: "destroy", title: "&nbsp;", width: 120 }
            ],
            editable: true
        }).data("kendoGrid");

        var tabStrip = $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        }).data("kendoTabStrip");

        var productVideoPager = $("#product-video-pager").kendoPager().data("kendoPager");

        var productVideoListView = $("#product-video-listView").kendoListView({
            template: kendo.template($("#view-template").html()),
            editTemplate: kendo.template($("#edit-template").html())
        }).data("kendoListView");

        $("#add-video").click(function (e) {
            productVideoListView.add();
            e.preventDefault();
        });

            var productVideoDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetHomePageVideos", "Media")',
                    type: "post",
                    dataType: "json"
                },
                update: {
                    url: '@Url.Action("CreateOrUpdateVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                destroy: {
                    url: '@Url.Action("DeleteVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                create: {
                    url: '@Url.Action("CreateOrUpdateVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models), page: options.page, pageSize: 6 };
                    }
                }
            },
            batch: true,
            pageSize: 6,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, nullable: true },
                        ProductId: { type: "number", defaultValue: 1 },
                        MediaUrl: { type: "string" },
                        ThumbnailUrl: { type: "string" },
                        Description: { type: "string" },
                        Type: { type: "number", defaultValue: 3 }
                    }
                }
            }
        });
            productVideoListView.setDataSource(productVideoDataSource);
            productVideoPager.setDataSource(productVideoDataSource);
        
            var bannerPager = $("#banner-pager").kendoPager().data("kendoPager");

            var bannerListView = $("#banner-listView").kendoListView({
                template: kendo.template($("#view-banner-template").html()),
                editTemplate: kendo.template($("#edit-banner-template").html())
            }).data("kendoListView");

            $("#add-banner").click(function (e) {
                bannerListView.add();
                e.preventDefault();
            });

            var bannerDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetBannerImages", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    update: {
                        url: '@Url.Action("CreateOrUpdateVideo", "Media")',
                    type: "post",
                    dataType: "json"
                },
                    destroy: {
                        url: '@Url.Action("DeleteVideo", "Media")',
                    type: "post",
                    dataType: "json"
                },
                    create: {
                        url: '@Url.Action("CreateOrUpdateVideo", "Media")',
                    type: "post",
                    dataType: "json"
                },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models), page: options.page, pageSize: 6 };
                        }
                    }
                },
                batch: true,
                pageSize: 6,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: true },
                            ProductId: { type: "number", defaultValue: 1 },
                            MediaUrl: { type: "string" },
                            ThumbnailUrl: { type: "string" },
                            Description: { type: "string", defaultValue: "" },
                            Type: { type: "number", defaultValue: 41 }
                        }
                    }
                }
            });
        bannerListView.setDataSource(bannerDataSource);
        bannerPager.setDataSource(bannerDataSource);
        
        var partnerPager = $("#partner-pager").kendoPager().data("kendoPager");

        var partnerListView = $("#partner-listView").kendoListView({
            template: kendo.template($("#view-partner-template").html()),
            editTemplate: kendo.template($("#edit-partner-template").html())
        }).data("kendoListView");

        $("#add-partner").click(function (e) {
            partnerListView.add();
            e.preventDefault();
        });

        var partnerDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetPartnerIcons", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    update: {
                        url: '@Url.Action("CreateOrUpdateVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    destroy: {
                        url: '@Url.Action("DeleteVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    create: {
                        url: '@Url.Action("CreateOrUpdateVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models), page: options.page, pageSize: 6 };
                        }
                    }
                },
                batch: true,
                pageSize: 6,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: true },
                            ProductId: { type: "number", defaultValue: 1 },
                            MediaUrl: { type: "string" },
                            ThumbnailUrl: { type: "string" },
                            Description: { type: "string", defaultValue: "" },
                            Type: { type: "number", defaultValue: 5 }
                        }
                    }
                }
            });
        partnerListView.setDataSource(partnerDataSource);
        partnerPager.setDataSource(partnerDataSource);
        
        var sliderImagePager = $("#sliderImage-pager").kendoPager().data("kendoPager");

        var sliderImageListView = $("#sliderImage-listView").kendoListView({
            template: kendo.template($("#view-sliderImage-template").html()),
            editTemplate: kendo.template($("#edit-sliderImage-template").html())
        }).data("kendoListView");

        $("#add-sliderImage").click(function (e) {
            sliderImageListView.add();
            e.preventDefault();
        });

        var sliderImageDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetSliderImages", "Media")',
                    type: "post",
                    dataType: "json"
                },
                update: {
                    url: '@Url.Action("CreateOrUpdateVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                destroy: {
                    url: '@Url.Action("DeleteVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                create: {
                    url: '@Url.Action("CreateOrUpdateVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models), page: options.page, pageSize: 6 };
                    }
                }
            },
            batch: true,
            pageSize: 6,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, nullable: true },
                        ProductId: { type: "number", defaultValue: 1 },
                        MediaUrl: { type: "string" },
                        ThumbnailUrl: { type: "string" },
                        Description: { type: "string", defaultValue: "" },
                        Type: { type: "number", defaultValue: 6 }
                    }
                }
            }
        });
        sliderImageListView.setDataSource(sliderImageDataSource);
        sliderImagePager.setDataSource(sliderImageDataSource);

        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false }
            ]
        });

        var splitter = $("#horizontal").kendoSplitter({
            orientation: "horizontal",
            panes: [
                { collapsible: true, size: "100%" }
            ]
        }).data("kendoSplitter");
    });
    
    function languageDropDownEditor(container, options) {
        $('<input required data-text-field="Name" data-value-field="CultureInfo" data-bind="value:' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                autoBind: false,
                dataSource: [
                        { Name: "Tiếng Việt", CultureInfo: "vi-vn" },
                        { Name: "English", CultureInfo: "en-us" }
                ]
            });
    }
    
</script>
