@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Smart Health Admin</title>
        <link href="@Url.Content("~/Areas/Admin/KendoUI/styles/kendo.common.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Areas/Admin/KendoUI/styles/kendo.default.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Areas/Admin/Content/style.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Areas/Admin/KendoUI/js/jquery.min.js")"></script>
        <script src="@Url.Content("~/Areas/Admin/KendoUI/js/kendo.web.min.js")"></script>
    </head>
<body>
    <div>
        <div id="content" class="k-content">
            <div id="smarthealth">
                <ul id="menu">
                    <li>
                        Bài viết
                    </li>
                    <li>
                        Sản phẩm
                    </li>
                </ul>
            </div>
            @RenderBody()
        <style type="text/css">
            #smarthealth {
                width: 100%;
                margin: 10px auto;
                padding-top: 120px;
                background: url('../../content/web/menu/header.jpg') no-repeat 0 0;
            }
            #menu h2 {
                font-size: 1em;
                text-transform: uppercase;
                padding: 5px 10px;
            }
        </style>
        <script>
            $(document).ready(function() {
                $("#menu").kendoMenu();
            });
        </script>
    </div>
    </div>
</body>
</html>
