@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="vertical">
    <div id="top-pane">
        <div id="horizontal" style="height: 100%; width: 100%;">
            <div id="left-pane">
                <div class="pane-content">
                    <div class="box-section">
                        <a id="add-group" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Thêm Nhóm</a>
                    </div>

                    <div class="box-section">
                        <div id="listView"></div>
                        <div id="pager" class="k-pager-wrap"></div>
                    </div>
                </div>
            </div>
            <div id="center-pane">
                <div class="pane-content">
                    <div class="box-content">
                        <a id="add-product" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-i-plus"></span>Thêm</a>
                        <a id="edit-product" class="k-button k-button-icontext k-edit-button" href="#"><span class="k-icon k-i-pencil"></span>Sửa</a>
                        <a id="delete-product" class="k-button k-button-icontext k-delete-button" href="#"><span class="k-icon k-i-close"></span>Xóa</a>
                        <a id="active-product" class="k-button k-button-icontext k-active-button" href="#"><span class="k-icon k-i-tick"></span>Duyệt</a>
                    </div>

                    <div class="box-content">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateOrUpdateProduct", "Product", FormMethod.Post, new { id = "product-form" }))
            {
                <div id="right-pane">
                    <div class="pane-content">
                        <div class="box-content">
                            <a id="save-product" class="k-button k-button-icontext k-save-button" href="#"><span class="k-icon k-i-tick"></span>Lưu</a>
                            <a id="cancel-product" class="k-button k-button-icontext k-cancel-button" href="#"><span class="k-icon k-i-cancel"></span>Quay lại</a>
                            <a id="message-product" class="k-button k-button-icontext k-note-button" style="display: none" href="#"></a>
                        </div>

                        <div class="box-content">
                            <div class="input-row">
                                <div class="column-left">
                                    <a class="k-button delete-imageurl" onclick="setImageUrl(''); return false;" href="#"><span class="k-icon k-i-close"></span></a>
                                    <a href="#" onclick="return false;">
                                        <img id="avatar" src="@Url.Content("~/Content/images/no-image.jpg")" />
                                        <input type="hidden" name="MediaUrl" id="ImageUrl" value="@Url.Content("~/Content/images/no-image.jpg")" />
                                    </a>
                                </div>
                                <div class="column-right">
                                    <div class="input-row">
                                        <p>Tên sản phẩm: </p>
                                        <input type="hidden" id="Id" name="Id" />
                                        <input type="text" class="k-textbox" id="Name" name="Name" style="width: 520px" required validationmessage="Vui lòng nhập tên!" />
                                    </div>
                                    <div class="input-row">
                                        <p>Hãng sản xuất: </p>
                                        <input type="text" class="k-textbox" id="Brand" name="Brand" />
                                    </div>
                                    <div class="input-row">
                                        <p>Nhóm: </p>
                                        <select id="Group" name="Group"></select>
                                        <input type="hidden" id="Groups" name="Groups" />
                                    </div>
                                    <div class="input-row">
                                        <p>Duyệt: </p>
                                        <input type="checkbox" id="IsActived" name="IsActived" value="true" />
                                    </div>
                                    <div class="input-row">
                                        <p>Mô tả: </p>
                                        <textarea class="k-textbox" id="Description" name="Description" rows="3" cols="1" style="width: 520px"></textarea>
                                    </div>
                                    <div class="input-row">
                                        <p>Từ khóa: </p>
                                        <input type="text" class="k-textbox" style="width: 520px" id="Tags" name="Tags"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="input-row">
                                <div id="tabstrip">
                                    <ul>
                                        <li class="k-state-active">Giới thiệu</li>
                                        <li>Thông tin thêm</li>
                                        <li>Thuộc tính</li>
                                        <li>Đánh giá</li>
                                        <li>Hình ảnh</li>
                                        <li>Video</li>
                                    </ul>
                                    <div>
                                        <textarea id="Introduction" name="Introduction"></textarea>
                                    </div>
                                    <div>
                                        <div class="input-row">
                                            <p>Giá niêm yết: </p>
                                            <input type="text" id="SmartHealthPrice" name="SmartHealthPrice" />
                                            <p>Giá bán: </p>
                                            <input type="text" id="MarketPrice" name="MarketPrice" />
                                        </div>
                                        <div class="input-row">
                                            <p>Số lượng: </p>
                                            <input type="text" id="Quantity" name="Quantity" />
                                            <p>Trạng thái: </p>
                                            <input type="text" class="k-textbox" id="Status" name="Status" />
                                        </div>
                                        <div class="input-row">
                                            <p>Trọng lượng: </p>
                                            <input type="text" class="k-textbox" id="Weight" name="Weight" />
                                            <p>Ngôn ngữ: </p>
                                            <input type="text" id="LanguageId" name="LanguageId" />
                                        </div>

                                    </div>
                                    <div>
                                        <textarea id="Property" name="Property"></textarea>
                                    </div>
                                    <div>
                                        <textarea id="Review" name="Review"></textarea>
                                    </div>

                                    <div>
                                        <div id="upload-image">
                                            <input name="files" id="files" type="file" />
                                        </div>
                                        <div id="product-image-listView"></div>
                                        <div id="product-image-pager" class="k-pager-wrap"></div>
                                    </div>
                                    <div>
                                        <div class="box-content">
                                            <a id="add-video" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Thêm Video</a>
                                        </div>
                                        <div id="product-video-listView"></div>
                                        <div id="product-video-pager" class="k-pager-wrap"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/x-kendo-tmpl" id="template">
        <div class="productgroup-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
                <a class="k-button k-button-icontext k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
            </div>
            <dl>
                <dt>Tên</dt>
                <dd>#:Name#</dd>
                <dt>Mô Tả</dt>
                <dd>#:Description#</dd>
                <dt>Ngôn ngữ</dt>
                <dd>#:Language.Name#</dd>
            </dl>
        </div>
</script>

<script type="text/x-kendo-tmpl" id="editTemplate">
        <div class="productgroup-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
                <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
            </div>
            <dl>
                <dt>Tên</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:Name" name="Name" required="required" validationMessage="required" />
                    <span data-for="Name" class="k-invalid-msg"></span>
                </dd>
                <dt>Mô Tả</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:Description" name="Description" required="required" validationMessage="required" />
                    <span data-for="Description" class="k-invalid-msg"></span>
                </dd>
                <dt>Ngôn ngữ</dt>
                <dd>
                    <select data-role="dropdownlist" data-bind="value:Language" data-value-field="CultureInfo" data-text-field="Name" name="Language" required="required" validationMessage="không được trống">  
                       <option value="vi-vn">Tiếng Việt</option>  
                       <option value="en-us">English</option>
                    </select>
                    <span data-for="Language" class="k-invalid-msg"></span>
                </dd>
            </dl>
        </div>
</script>
<script type="text/x-kendo-template" id="product-image-template">
        <div class="product-image-list">
            <a href="#:MediaUrl#" data-lightbox="roadtrip" title="#:Description#"><img src="#:MediaUrl#" alt="#:MediaUrl#"  style="display: block; width: 100%;"/></a>
            <a class="k-button delete-image" onclick="removeProductImage('#:Id#', '#:ProductId#'); return false;" href="\\#"><span class="k-icon k-i-close"></span></a>
            <a class="k-button set-imageurl" onclick="setMediaUrl('#:MediaUrl#'); return false;" href="\\#"><span class="k-icon k-i-restore"></span></a>
        </div>
</script>
<script type="text/x-kendo-template" id="product-video-template">
    <div class="product-video-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
                <a class="k-button k-button-icontext k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
            </div>
            
        <iframe id="ytplayer" type="text/html" width="100%" height="100%" src="#:MediaUrl#" frameborder="0"></iframe>
        </div>
</script>
<script type="text/x-kendo-tmpl" id="edit-product-video-template">
        <div class="product-video-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
                <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
            </div>
            <dl>
                <dt>Url</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:MediaUrl" name="MediaUrl" required="required" validationMessage="required" />
                    <span data-for="MediaUrl" class="k-invalid-msg"></span>
                </dd>
                <dt>Avatar</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:ThumbnailUrl" name="ThumbnailUrl" required="required" validationMessage="required" />
                    <span data-for="ThumbnailUrl" class="k-invalid-msg"></span>
                </dd>
                <dt>Mô tả</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:Description" name="Description" required="required" validationMessage="required" />
                    <span data-for="Description" class="k-invalid-msg"></span>
                </dd>
            </dl>
        </div>
</script>
<script>
    $(document).ready(function () {
        var productGroupDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetGroups", "Product")',
                    type: "post",
                    dataType: "json"
                },
                update: {
                    url: '@Url.Action("CreateOrUpdateGroup", "Product")',
                    type: "post",
                    dataType: "json"
                },
                destroy: {
                    url: '@Url.Action("DeleteGroup", "Product")',
                    type: "post",
                    dataType: "json"
                },
                create: {
                    url: '@Url.Action("CreateOrUpdateGroup", "Product")',
                    type: "post",
                    dataType: "json"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models), page: options.page, pageSize: 6 };
                    }
                }
            },
            batch: true,
            pageSize: 6,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false, nullable: true },
                        Name: { type: "string" },
                        Description: { type: "string" },
                        Language: { defaultValue: { Name: "Tiếng Việt", CultureInfo: "vi-vn" } }
                    }
                }
            }
        });


        $("#pager").kendoPager({
            dataSource: productGroupDataSource
        });

        var productGroupListView = $("#listView").kendoListView({
            dataSource: productGroupDataSource,
            template: kendo.template($("#template").html()),
            editTemplate: kendo.template($("#editTemplate").html())
        }).data("kendoListView");

        $("#add-group").click(function (e) {
            productGroupListView.add();
            e.preventDefault();
        });
        var grid = $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GetProducts", "Product")',
                        type: "post",
                        dataType: "json"
                    }
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            height: 710,
            filterable: true,
            sortable: true,
            pageable: true,
            selectable: "multiple",
            columns: [{
                field: "Id",
                width: 90,
            }, {
                field: "MediaUrl",
                width: 120,
                title: "Hình đại diện",
                template: "<img src='#= MediaUrl #' alt='#= MediaUrl #' style='width:100%' />"
            }, {
                field: "Name",
                title: "Tên sản phẩm"
            }, {
                field: "Description",
                title: "Giới thiệu"
            },
             {
                 field: "MarketPrice",
                 title: "Giá bán"
             }, {
                 field: "SmartHealthPrice",
                 title: "Giá niêm yết",
                 hidden: true
             }, {
                 field: "Brand",
                 title: "Hãng sản xuất",
                 hidden: true
             }, {
                 field: "Weight",
                 width: 120,
                 title: "Trọng lượng",
                 hidden: true
             },
            {
                field: "Tags",
                title: "Nhãn",
                hidden: true
            }, {
                field: "IsActived",
                width: 100,
                title: "Duyệt"
            }
            ]
        }).data("kendoGrid");

        var panes = $("#horizontal").children(),
            getPane = function (index) {
                index = Number(index);

                if (!isNaN(index) && index < panes.length) {
                    return panes[index];
                }
            };

        $("#add-product").click(function (e) {
            var tab = tabStrip.tabGroup.children("li").eq(4);
            tabStrip.disable(tab);
            tabStrip.select(0);
            $("#Id").val('');
            $("#Name").val('');
            $("#SmartHealthPrice").val('');
            $("#MarketPrice").val('');
            $("#Brand").val('');
            $("#Weight").val('');
            $("#Description").val('');
            tinyMCE.get('Introduction').setContent('');
            tinyMCE.get('Property').setContent('');
            tinyMCE.get('Review').setContent('');
            $("#Status").val('');
            $("#Tags").val('');
            $("#IsActived").prop('checked', false);
            groupMultiSelect.value('');
            marketPriceNumeric.value('');
            smartHealthPriceNumeric.value('');
            quantityNumeric.value('');
            setImageUrl('');
            languageDropDownList.value(1);
            splitterToggle();
        });

        $("#edit-product").click(function (e) {
            if (grid.select().length > 0) {
                grid.select().each(function () {
                    var tab = tabStrip.tabGroup.children("li").eq(4);
                    tabStrip.enable(tab);
                    tabStrip.select(0);
                    var dataItem = grid.dataItem($(this));
                    $("#Id").val(dataItem.Id);
                    $("#Name").val(dataItem.Name);
                    $("#SmartHealthPrice").val(dataItem.SmartHealthPrice);
                    $("#MarketPrice").val(dataItem.MarketPrice);
                    $("#Brand").val(dataItem.Brand);
                    $("#Weight").val(dataItem.Weight);
                    $("#Description").val(dataItem.Description);
                    tinyMCE.get('Introduction').setContent(dataItem.Introduction);
                    tinyMCE.get('Property').setContent(dataItem.Property);
                    tinyMCE.get('Review').setContent(dataItem.Review);
                    $("#Status").val(dataItem.Status);
                    $("#Tags").val(dataItem.Tags);
                    $("#IsActived").prop('checked', dataItem.IsActived);
                    groupMultiSelect.value(dataItem.Groups.toString().split(','));
                    marketPriceNumeric.value(dataItem.MarketPrice);
                    smartHealthPriceNumeric.value(dataItem.SmartHealthPrice);
                    quantityNumeric.value(dataItem.Quantity);
                    setImageUrl(dataItem.ImageUrl);
                    languageDropDownList.value(dataItem.LanguageId);
                    getImageManager(dataItem.Id);
                    getVideoManager(dataItem.Id);
                });
                splitterToggle();
            } else {
                alert("Vui lòng chọn sản phẩm cần sửa!");
            }
        });

        var productImagePager = $("#product-image-pager").kendoPager().data("kendoPager");

        var productImageListView = $("#product-image-listView").kendoListView({
            template: kendo.template($("#product-image-template").html())
        }).data("kendoListView");

        var productVideoPager = $("#product-video-pager").kendoPager().data("kendoPager");

        var productVideoListView = $("#product-video-listView").kendoListView({
            template: kendo.template($("#product-video-template").html()),
            editTemplate: kendo.template($("#edit-product-video-template").html())
        }).data("kendoListView");

        $("#add-video").click(function (e) {
            productVideoListView.add();
            e.preventDefault();
        });

        var productId;
        var uploader = $("#files").kendoUpload({
            multiple: false,
            async: {
                saveUrl: '@Url.Action("Upload", "Media")',
                autoUpload: true
            },
            localization: {
                select: 'Thêm ảnh'
            },
            upload: function (e) {
                e.data = { productId: productId };
            },
            success: onSuccess
        }).data("kendoUpload");

        function onSuccess(e) {
            $(".k-upload-files").fadeOut(5000, function () {
                $(this).remove();
            });
            productImageListView.dataSource.read();
        }

        function getImageManager(id) {
            productId = id;
            var productImageDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetProductImages", "Media")' + '?Id=' + id,
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models), page: options.page, pageSize: 32 };
                        }
                        return null;
                    }
                },
                batch: true,
                pageSize: 16
            });
            productImageListView.setDataSource(productImageDataSource);
            productImagePager.setDataSource(productImageDataSource);
            uploader.data = { productId: id };
        }

        function getVideoManager(id) {
            productId = id;
            var productVideoDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("GetProductVideos", "Media")' + '?Id=' + id,
                        type: "post",
                        dataType: "json"
                    },
                    update: {
                        url: '@Url.Action("CreateOrUpdateVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    destroy: {
                        url: '@Url.Action("DeleteVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    create: {
                        url: '@Url.Action("CreateOrUpdateVideo", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models), page: options.page, pageSize: 6 };
                        }
                    }
                },
                batch: true,
                pageSize: 6,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: true },
                            ProductId: { type: "number", defaultValue: productId },
                            MediaUrl: { type: "string" },
                            ThumbnailUrl: { type: "string" },
                            Description: { type: "string" }
                        }
                    }
                }
            });
            productVideoListView.setDataSource(productVideoDataSource);
            productVideoPager.setDataSource(productVideoDataSource);
            uploader.data = { productId: id };
        }

        $("#delete-product").click(function (e) {
            if (grid.select().length > 0) {
                if (confirm("Bạn có chắc muốn xóa những sản phẩm đã chọn?")) {
                    var ids = [];
                    grid.select().each(function () {
                        var dataItem = grid.dataItem($(this));
                        ids.push(dataItem.Id);
                    });
                    $.post('@Url.Action("DeleteProducts", "Product")', { ids: ids.join(",") }).done(function (e) {
                        grid.dataSource.read();
                    });
                }
            } else {
                alert("Vui lòng chọn sản phẩm muốn xóa!");
            }
        });

        $("#active-product").click(function (e) {
            if (grid.select().length > 0) {
                if (confirm("Bạn có chắc muốn thay đổi trạng thái duyệt những sản phẩm đã chọn?")) {
                    var ids = [];
                    grid.select().each(function () {
                        var dataItem = grid.dataItem($(this));
                        ids.push(dataItem.Id);
                    });
                    $.post('@Url.Action("ActiveProducts", "Product")', { ids: ids.join(",") }).done(function (e) {
                        grid.dataSource.read();
                    });
                }
            } else {
                alert("Vui lòng chọn sản phẩm muốn thay đổi trạng thái duyệt!");
            }
        });

        $("#save-product").click(function (e) {
            var validator = $("#product-form").kendoValidator().data("kendoValidator");
            if (validator.validate()) {
                tinyMCE.triggerSave();
                $.post($("#product-form").attr('action'), $("#product-form").serialize()).done(function (result) {
                    grid.dataSource.read();
                    var tab = tabStrip.tabGroup.children("li").eq(3);
                    tabStrip.enable(tab);
                    $("#Id").val(result.Id);
                    getImageManager(result.Id);
                    getVideoManager(result.Id);
                    $("#message-product").html('<span class="k-icon k-i-note"></span>Lưu thành công!');
                    $("#message-product").css('float', 'right');
                    $("#message-product").show();
                    $("#message-product").fadeOut(4000, function () {
                        $(this).html('');
                    });
                });
            }
            return false;
        });

        $("#cancel-product").click(function (e) {
            splitterToggle();
        });

        function splitterToggle() {
            var pane = getPane(1);
            if (!pane) return;

            splitter.toggle(pane, $(pane).width() <= 0);
        }

        tinymce.init({
            selector: "#Introduction",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            height: 305
        });

        tinymce.init({
            selector: "#Property",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            height: 305
        });

        tinymce.init({
            selector: "#Review",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            height: 305
        });

        var groupMultiSelect = $("#Group").kendoMultiSelect({
            placeholder: "Chọn nhóm...",
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: false,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetGroups", "Product")',
                        type: "post",
                        dataType: "json"
                    }
                }
            },
            change: onChangeGroup
        }).data("kendoMultiSelect");

        function onChangeGroup() {
            $("#Groups").val(groupMultiSelect.value());
        }

        var marketPriceNumeric = $("#MarketPrice").width(150).kendoNumericTextBox().data("kendoNumericTextBox");

        var smartHealthPriceNumeric = $("#SmartHealthPrice").width(150).kendoNumericTextBox().data("kendoNumericTextBox");

        var quantityNumeric = $("#Quantity").width(150).kendoNumericTextBox().data("kendoNumericTextBox");

        var languageDropDownList = $("#LanguageId").width(120).kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                        { text: "Tiếng Việt", value: "1" },
                        { text: "English", value: "2" }
            ]
        }).data("kendoDropDownList");

        var tabStrip = $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        }).data("kendoTabStrip");


        $("#avatar").click(function () {
            if (!tabStrip.tabGroup.children("li").eq(3).hasClass("k-state-disabled")) {
                tabStrip.select(3);
            } else {
                alert("Bạn phải tạo sản phẩm trước khi chọn hình ảnh!");
            }
        });

        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false }
            ]
        });

        var splitter = $("#horizontal").kendoSplitter({
            orientation: "horizontal",
            panes: [
                { collapsible: true, size: "20%" },
                { collapsible: true, size: "80%" },
                { collapsible: true, size: "0%" }
            ]
        }).data("kendoSplitter");
    });

        function setImageUrl(url) {
            if (url != "" && url != null) {
                $("#avatar").attr("src", url);
            } else {
                $("#avatar").attr("src", "@Url.Content("~/Content/images/no-image.jpg")");
        }
        $("#MediaUrl").val(url);
    }

    function removeProductImage(id, productId) {
        $.post('@Url.Action("DeleteProductImage", "Media")', { id: id, productId: productId }).done(function (result) {
            $("#product-image-listView").data("kendoListView").dataSource.read();
        });
    }
</script>
