@{
    ViewBag.Title = "ManageArticle";
    ViewBag.CurrentPage = "Bài viết";
    ViewBag.CurrentPageDescription = "Quản lý bài viết";
    Layout = "~/Areas/Administrator/Views/Shared/_ReponsiveLayout.cshtml";
}


                <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="clip-list"></i>
                                Quản lý danh mục
                                <div class="panel-tools">
                                    <a id="add-category" class="btn btn-xs btn-link" href="#">
                                        <i class="icon-plus"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="icon-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="icon-remove"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body panel-scroll" style="height:300px">
                                <div class="box-section">
                                    <div id="listView"></div>
                                    <div id="pager" class="k-pager-wrap"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="clip-grid"></i>
                                Danh sách bài viết
                                <div class="panel-tools">
                                    <a id="FullUrl" class="btn btn-xs btn-link" href="#">
                                    </a>
                                    <a id="add-article" class="btn btn-xs btn-link" href="#">
                                        <i class="icon-plus"></i>
                                    </a>
                                    <a id="edit-article" class="btn btn-xs btn-link" href="#">
                                        <i class="icon-pencil"></i>
                                    </a>
                                    <a id="delete-article" class="btn btn-xs btn-link" href="#">
                                        <i class="clip-remove"></i>
                                    </a>
                                    <a id="active-article" class="btn btn-xs btn-link" href="#">
                                        <i class="clip-thumbs-up"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="icon-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="icon-remove"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body panel-scroll" style="height:300px">
                                    <div id="grid"></div>
                            </div>
                        </div>
                    </div>
                    @using (Html.BeginForm("CreateOrUpdateArticle", "Article", FormMethod.Post, new { id = "article-form" }))
                    {
                        <div class="col-sm-9">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="clip-checkbox"></i>
                                    Biên soạn bài viết
                                    <div class="panel-tools">
                                        <a id="save-article" class="btn btn-xs btn-link" href="#">
                                            <i class="clip-checkmark-2"></i>
                                        </a>
                                        <a id="cancel-article" class="btn btn-xs btn-link" href="#">
                                            <i class="clip-arrow-left-3"></i>
                                        </a>
                                        <a id="message-article" class="btn btn-xs btn-link" style="display: none" href="#"></a>
                                        <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                        </a>
                                        <a class="btn btn-xs btn-link panel-close" href="#">
                                            <i class="icon-remove"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="panel-body panel-scroll" style="height: 300px">
                                    <div class="box-content">
                                        <div class="input-row">
                                            <div class="column-left">
                                                <a class="k-button delete-imageurl" onclick="setMediaUrl(''); return false;" href="#"><span class="k-icon k-i-close"></span></a>
                                                <a href="#" onclick="return false;">
                                                    <img id="avatar" src="@Url.Content("~/Content/images/no-image.jpg")" />
                                                    <input type="hidden" name="MediaUrl" id="MediaUrl" value="@Url.Content("~/Content/images/no-image.jpg")" />
                                                </a>
                                            </div>
                                            <div class="column-right">
                                                <div class="input-row">
                                                    <p>Tiêu đề: </p>
                                                    <input type="hidden" id="Id" name="Id" />
                                                    <input type="text" class="k-textbox" id="Title" name="Title" required validationMessage="Vui lòng nhập tiêu đề!"/>
                                                </div>
                                                <div class="input-row">
                                                    <p>Danh mục: </p>
                                                    <select id="Category" name="Category"></select>
                                                    <input type="hidden" id="Categories" name="Categories" />
                                                </div>
                                                <div class="input-row">
                                                    <p>Mô tả: </p>
                                                    <textarea class="k-textbox" id="Description" name="Description" rows="3" cols="1" style="width: 420px"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-row">
                                            <div id="tabstrip">
                                                <ul>
                                                    <li class="k-state-active">Nội dung</li>
                                                    <li>Thông tin</li>
                                                    <li>Hình ảnh</li>
                                                </ul>
                                                <div>
                                                    <textarea id="Content" name="Content"></textarea>
                                                </div>
                                                <div>
                                                    <div class="input-row">
                                                        <p>Tác giả: </p>
                                                        <input type="text" class="k-textbox" id="Author" name="Author" />
                                                    </div>   
                                                    <div class="input-row">
                                                        <p>Thứ tự: </p>
                                                        <input type="text" id="Priority" name="Priority" />
                                                    </div>   
                                                    <div class="input-row">
                                                        <p>Ngôn ngữ: </p>
                                                        <input type="text" id="LanguageId" name="LanguageId" />
                                                    </div>   
                                                    <div class="input-row">
                                                        <p>Nhãn: </p>
                                                        <textarea class="k-textbox" id="Tags" name="Tags" rows="4" cols="1" style="width: 100%"></textarea>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div id="upload-image">
                                                        <input name="files" id="files" type="file" />
                                                    </div>
                                                    <div id="article-image-listView"></div>
                                                    <div id="article-image-pager" class="k-pager-wrap"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- end: PAGE CONTENT-->

<script type="text/x-kendo-tmpl" id="template">
        <div class="articlecategory-view k-widget">
            <div class="edit-buttons">
                <a class="btn btn-xs btn-link k-edit-button" href="\\#"><i class="icon-pencil"></i></a>
                <a class="btn btn-xs btn-link k-delete-button" href="\\#"><i class="icon-remove"></i></a>
            </div>
            <dl>
                <dt>Tên</dt>
                <dd>#:Name#</dd>
                <dt>Mô Tả</dt>
                <dd>#:Description#</dd>
                <dt>PR</dt>
                <dd>#:IsPublicRelation#</dd>
            </dl>
        </div>
</script>

<script type="text/x-kendo-tmpl" id="editTemplate">
        <div class="articlecategory-view k-widget">
            <div class="edit-buttons">
                <a class="btn btn-xs btn-link k-update-button" href="\\#"><i class="clip-checkmark"></i></a>
                <a class="btn btn-xs btn-link k-cancel-button" href="\\#"><i class="icon-close"></i></a>
            </div>
            <dl>
                <dt>Tên</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" data-bind="value:Name" name="Name" required="required" validationMessage="required" />
                    <span data-for="Name" class="k-invalid-msg"></span>
                </dd>
                <dt>Mô Tả</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" data-bind="value:Description" name="Description" required="required" validationMessage="required" />
                    <span data-for="Description" class="k-invalid-msg"></span>
                </dd>
                <dt>PR</dt>
                <dd>
                    <input type="checkbox" class="k-checkbox" name="IsPublicRelation" data-bind="checked:IsPublicRelation">
                </dd>
            </dl>
        </div>
</script>

<script type="text/x-kendo-template" id="article-image-template">
        <div class="article-image-list">
            <a href="#:MediaUrl#" data-lightbox="roadtrip" title="#:Description#"><img src="#:MediaUrl#" alt="#:MediaUrl#"  style="display: block; width: 100%;"/></a>
            <a class="k-button delete-image" onclick="removeImage('#:Id#'); return false;" href="\\#"><span class="k-icon k-i-close"></span></a>
            <a class="k-button set-imageurl" onclick="setMediaUrl('#:MediaUrl#'); return false;" href="\\#"><span class="k-icon k-i-restore"></span></a>
        </div>
</script>
<script>
    $(document).ready(function () {
        var articleCategoryDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetCategories", "Article")',
                    type: "post",
                    dataType: "json"
                },
                update: {
                    url: '@Url.Action("CreateOrUpdateCategory", "Article")',
                        type: "post",
                        dataType: "json"
                    },
                destroy: {
                    url: '@Url.Action("DeleteCategory", "Article")',
                        type: "post",
                        dataType: "json"
                    },
                create: {
                    url: '@Url.Action("CreateOrUpdateCategory", "Article")',
                        type: "post",
                        dataType: "json"
                    },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models), page: options.page, pageSize: 6 };
                    }
                }
            },
            batch: true,
            pageSize: 6,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false },
                        Name: { type: "string" },
                        Description: { type: "string" },
                        IsPublicRelation: { type: "string" }
                    }
                }
            }
        });


        $("#pager").kendoPager({
            dataSource: articleCategoryDataSource
        });

        var listView = $("#listView").kendoListView({
            dataSource: articleCategoryDataSource,
            template: kendo.template($("#template").html()),
            editTemplate: kendo.template($("#editTemplate").html())
        }).data("kendoListView");

        $("#add-category").click(function (e) {
            listView.add();
            e.preventDefault();
        });

        var grid = $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GetArticles", "Article")',
                        type: "post",
                        dataType: "json"
                    }
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            height: 710,
            filterable: true,
            sortable: true,
            pageable: true,
            selectable: "multiple",
            columns: [{
                field: "Id",
                hidden: true
            },
            {
                field: "Categories",
                hidden: true
            }, {
                field: "MediaUrl",
                width: 120,
                title: "Hình đại diện",
                template: "<img src='#= MediaUrl #' alt='#= MediaUrl #' style='width:100%' />"
            }, {
                field: "Title",
                title: "Tiêu đề"
            }, {
                field: "Description",
                title: "Mô tả"
            }, {
                field: "Author",
                width: 100,
                title: "Tác giả"
            }, {
                field: "Tags",
                title: "Nhãn"
            }, {
                field: "FullUrl",
                title: "Đường dẫn",
                hidden: true
            }, {
                field: "Priority",
                width: 80,
                title: "Thứ tự"
            }, {
                field: "IsActived",
                width: 80,
                title: "Duyệt"
            }
            ],
            change: function (e) {
                grid.select().each(function() {
                    var dataItem = grid.dataItem($(this));
                    $("#FullUrl").html("<i class='icon-link'></i> " + dataItem.FullUrl);
                    $("#FullUrl").attr("href", dataItem.FullUrl);
                });
            }
        }).data("kendoGrid");

        var panes = $("#horizontal").children(),
            getPane = function (index) {
                index = Number(index);

                if (!isNaN(index) && index < panes.length) {
                    return panes[index];
                }
            };

        $("#add-article").click(function (e) {
            $("#Id").val('');
            $("#Title").val('');
            $("#Author").val('');
            tinyMCE.get('Content').setContent('');
            $("#Description").val('');
            $("#Tags").val('');
            categoryMultiSelect.value('');
            priorityNumeric.value('');
            setMediaUrl('');
            languageDropDownList.value(1);
            splitterToggle();
        });
        
        $("#edit-article").click(function (e) {
            if (grid.select().length > 0) {
                grid.select().each(function () {
                    var dataItem = grid.dataItem($(this));
                    $("#Id").val(dataItem.Id);
                    $("#Title").val(dataItem.Title);
                    $("#Author").val(dataItem.Author);
                    $("#Description").val(dataItem.Description);
                    $("#Tags").val(dataItem.Tags);
                    tinyMCE.get('Content').setContent(dataItem.Content);
                    categoryMultiSelect.value(dataItem.Categories.toString().split(','));
                    priorityNumeric.value(dataItem.Priority);
                    setMediaUrl(dataItem.MediaUrl);
                    languageDropDownList.value(dataItem.LanguageId);
                });
                splitterToggle();
            } else {
                alert("Vui lòng chọn bài viết cần sửa!");
            }
        });
        var articleImageDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetImages", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models), page: options.page, pageSize: 32 };
                        }
                        return null;
                    }
                },
            batch: true,
            pageSize: 16
        });
        
        $("#article-image-pager").kendoPager({
            dataSource: articleImageDataSource
        });

        $("#article-image-listView").kendoListView({
            dataSource: articleImageDataSource,
            template: kendo.template($("#article-image-template").html())
        }).data("kendoListView");

        $("#files").kendoUpload({
            multiple: false,
            async: {
                saveUrl: '@Url.Action("Upload", "Media")',
                autoUpload: true
            },
            localization: {
                select: 'Thêm ảnh'
            },
            success: onSuccess
        });
        function onSuccess(e) {
            $(".k-upload-files").fadeOut(5000, function () {
                $(this).remove();
            });
            listView.dataSource.read();
        }
        
        $("#delete-article").click(function (e) {
            if (grid.select().length > 0) {
                if (confirm("Bạn có chắc muốn xóa những bài viết đã chọn?")) {
                    var ids = [];
                    grid.select().each(function() {
                        var dataItem = grid.dataItem($(this));
                        ids.push(dataItem.Id);
                    });
                    $.post('@Url.Action("DeleteArticles", "Article")', { ids: ids.join(",") }).done(function (e) {
                        grid.dataSource.read();
                    });
                }
            } else {
                alert("Vui lòng chọn bài viết muốn xóa!");
            }
        });
        
        $("#active-article").click(function (e) {
            if (grid.select().length > 0) {
                if (confirm("Bạn có chắc muốn thay đổi trạng thái duyệt những bài viết đã chọn?")) {
                    var ids = [];
                    grid.select().each(function () {
                        var dataItem = grid.dataItem($(this));
                        ids.push(dataItem.Id);
                    });
                    $.post('@Url.Action("ActiveArticles", "Article")', { ids: ids.join(",") }).done(function (e) {
                        grid.dataSource.read();
                    });
                }
            } else {
                alert("Vui lòng chọn bài viết muốn thay đổi trạng thái duyệt!");
            }
        });

        $("#save-article").click(function (e) {
            var validator = $("#article-form").kendoValidator().data("kendoValidator");
            if (validator.validate()) {
                tinyMCE.triggerSave();
                $.post($("#article-form").attr('action'), $("#article-form").serialize()).done(function (result) {
                    grid.dataSource.read();
                    $("#Id").val(result.Id);
                    $("#message-article").html('<span class="k-icon k-i-note"></span>Lưu thành công!');
                    $("#message-article").css('float', 'right');
                    $("#message-article").show();
                    $("#message-article").fadeOut(4000, function () {
                        $(this).html('');
                    });
                });
            } 
            return false;
        });

        $("#cancel-article").click(function (e) {
            splitterToggle();
        });

        function splitterToggle() {
            var pane = getPane(1);
            if (!pane) return;

            splitter.toggle(pane, $(pane).width() <= 0);
        }
        
        tinymce.init({
            selector: "#Content",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            height: 305
        });
        
        var categoryMultiSelect = $("#Category").kendoMultiSelect({
            placeholder: "Chọn danh mục...",
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: false,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetCategories", "Article")',
                        type: "post",
                        dataType: "json"
                    }
                }
            },
            change: onChangeCategory
        }).data("kendoMultiSelect");

        function onChangeCategory() {
            $("#Categories").val(categoryMultiSelect.value());
        }

        var priorityNumeric = $("#Priority").width(150).kendoNumericTextBox().data("kendoNumericTextBox");

        var languageDropDownList = $("#LanguageId").width(150).kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                        { text: "Tiếng Việt", value: "1" },
                        { text: "English", value: "2" }
            ]
        }).data("kendoDropDownList");

        var tabStrip = $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        }).data("kendoTabStrip");

        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false }
            ]
        });

        var splitter = $("#horizontal").kendoSplitter({
            orientation: "horizontal",
            panes: [
                { collapsible: true, size: "20%" },
                { collapsible: true, size: "80%" },
                { collapsible: true, size: "0%" }
            ]
        }).data("kendoSplitter");
    });

    function setMediaUrl(url) {
        if (url != "" && url != null) {
            $("#avatar").attr("src", url);
        } else {
            $("#avatar").attr("src", "@Url.Content("~/Content/images/no-image.jpg")");
        }
        $("#MediaUrl").val(url);
    }
    
    function removeImage(id) {
        $.post('@Url.Action("DeleteImage", "Media")', { id: id }).done(function () {
            $("#article-image-listView").data("kendoListView").dataSource.read();
        });
    }
</script>

