@using SmartHealth.Box.Domain.Dtos
@{
    ViewBag.Title = "CreateOrUpdateArticle";
    Layout = "~/Areas/Administrator/Views/Shared/_ReponsiveLayout.cshtml";
    var categories = (List<ArticleCategoryDto>) ViewBag.Categories;
}

@*@using (Html.BeginForm("CreateOrUpdateArticle", "Article", FormMethod.Post, new { id = "article-form" }))
{*@
<a href="#responsive" data-toggle="modal" class="demo btn btn-blue">
													View Demo
												</a>
<div id="responsive" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">Hình ảnh</h4>
			</div>
			<div class="modal-body">
					<div class="col-md-12">
						<div id="upload-image">
                                                            <input name="files" id="files" type="file" />
                                                        </div>
                                                        <div id="article-image-listView" class="row"></div>
                                                        <div id="article-image-pager" class="k-pager-wrap"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-light-grey">
					Close
				</button>
				<button type="button" class="btn btn-blue">
					Save changes
				</button>
			</div>
		</div>
    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="clip-checkbox"></i>
                                Biên soạn bài viết
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-collapse collapses" href="#">
                                    </a>
                                    <a class="btn btn-xs btn-link panel-expand" href="#">
                                        <i class="icon-resize-full"></i>
                                    </a>
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="icon-remove"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body panel-scroll">
                                <form action="@Url.Action("CreateOrUpdateArticle", "Article")" role="form" class="smart-wizard form-horizontal" id="form">
										<div id="wizard" class="swMain">
											<ul>
												<li>
													<a href="#step-1">
														<div class="stepNumber">
															1
														</div>
														<span class="stepDesc"> Bước 1
															<br />
															<small>Thông tin cơ bản</small> </span>
													</a>
												</li>
												<li>
													<a href="#step-2">
														<div class="stepNumber">
															2
														</div>
														<span class="stepDesc"> Bước 2
															<br />
															<small>Nội dung</small> </span>
													</a>
												</li>
												<li>
													<a href="#step-3">
														<div class="stepNumber">
															3
														</div>
														<span class="stepDesc"> Bước 3
															<br />
															<small>Hình ảnh</small> </span>
													</a>
												</li>
												<li>
													<a href="#step-4">
														<div class="stepNumber">
															4
														</div>
														<span class="stepDesc"> Step 4
															<br />
															<small>Step 4 description</small> </span>
													</a>
												</li>
											</ul>
											<div class="progress progress-striped active progress-sm">
												<div aria-valuemax="100" aria-valuemin="0" role="progressbar" class="progress-bar progress-bar-success step-bar">
													<span class="sr-only"> 0% Complete (success)</span>
												</div>
											</div>
											<div id="step-1" class="col-md-12">
												<h3>Bước 1 Thông tin cơ bản</h3>
                                                <hr/>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Tiêu đề <span class="symbol required"></span>
													</label>
                                                    <div class="col-sm-7">
                                                        <input type="hidden" id="Id" name="Id" />
                                                        <input type="text" class="form-control" id="Title" name="Title" placeholder="Tiêu đề..." />
                                                    </div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Mô tả <span class="symbol required"></span>
													</label>
													<div class="col-sm-7">
														<textarea class="form-control" id="Description" name="Description" placeholder="Mô tả..."></textarea>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Danh mục <span class="symbol required"></span>
													</label>
                                                    <div class="col-sm-7">
                                                        <select multiple="multiple" id="Categories" name="Categories" class="form-control search-select">
                                                            @foreach(var category in categories)
                                                            {
                                                                <option value="@category.Id">@category.Name</option>
                                                            }
                                                        </select>
                                                    </div>
												</div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Tác giả <span class="symbol required"></span>
                                                    </label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Author" name="Author" placeholder="Tác giả...">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Nhãn <span class="symbol required"></span>
                                                    </label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Tags" name="Tags" placeholder="Nhãn...">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Thứ tự <span class="symbol required"></span>
                                                    </label>
                                                    <div class="col-sm-7">
                                                        <input type="text" class="form-control" id="Priority" name="Priority" placeholder="Thứ tự...">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
                                                        Ngôn ngữ <span class="symbol required"></span>
                                                    </label>
                                                    <div class="col-sm-7">
                                                        <select class="form-control" id="LanguageId" name="LanguageId">
                                                            <option value="1">Tiếng Việt</option>
                                                            <option value="2">English</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">
													    Ảnh đại diện <span class="symbol required"></span>
												    </label>
                                                    <div class="col-sm-7">
                                                        <div class="fileupload fileupload-new" data-provides="fileupload">
                                                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA?text=no+image" alt=""/>
                                                            </div>
                                                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                                            <div>
                                                                <span class="btn btn-light-grey btn-file"><span class="fileupload-new"><i class="icon-picture"></i> Select image</span><span class="fileupload-exists"><i class="icon-picture"></i> Change</span>
                                                                    <input type="file">
                                                                </span>
                                                                <a href="#" class="btn fileupload-exists btn-light-grey" data-dismiss="fileupload">
                                                                    <i class="icon-remove"></i> Remove
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
												<div class="form-group">
													<div class="col-sm-2 col-sm-offset-8">
														<button class="btn btn-blue next-step btn-block">
															Next <i class="icon-circle-arrow-right"></i>
														</button>
													</div>
												</div>
											</div>
											<div id="step-2">
												<h2 class="StepTitle">Bước 2 Nội dung</h2>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <textarea id="Content" name="Content"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
													<div class="col-sm-2 col-sm-offset-3">
														<button class="btn btn-light-grey back-step btn-block">
															<i class="icon-circle-arrow-left"></i> Back
														</button>
													</div>
													<div class="col-sm-2 col-sm-offset-3">
														<button class="btn btn-blue next-step btn-block">
															Next <i class="icon-circle-arrow-right"></i>
														</button>
													</div>
												</div>
											</div>
											<div id="step-3">
												<h2 class="StepTitle">Bước 3 Hình ảnh</h2>
												<div class="form-group">
													<div class="col-sm-12">
														 
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-2 col-sm-offset-3">
														<button class="btn btn-light-grey back-step btn-block">
															<i class="icon-circle-arrow-left"></i> Back
														</button>
													</div>
													<div class="col-sm-2 col-sm-offset-3">
														<button class="btn btn-blue next-step btn-block">
															Next <i class="icon-circle-arrow-right"></i>
														</button>
													</div>
												</div>
											</div>
											<div id="step-4">
												<h2 class="StepTitle">Step 4 Title</h2>
												<h3>Account</h3>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Username:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="username"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Email:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="email"></p>
													</div>
												</div>
												<h3>Profile</h3>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Fullname:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="full_name"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Gender:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="gender"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Phone:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="phone"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Address:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="address"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														City:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="city"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Country:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="country"></p>
													</div>
												</div>
												<h3>Billing</h3>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Card Name:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="card_name"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Card Number:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="card_number"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														CVC:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="card_cvc"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Expiration:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="card_expiry"></p>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label">
														Payment Options:
													</label>
													<div class="col-sm-7">
														<p class="form-control-static display-value" data-display="payment"></p>
													</div>
												</div>
												<div class="form-group">
													<div class="col-sm-2 col-sm-offset-8">
														<button class="btn btn-success finish-step btn-block">
															Finish <i class="icon-circle-arrow-right"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</form>
                               
                            </div>
                        </div>
                    </div>
@*}*@
<script type="text/x-kendo-template" id="article-image-template">
    <div class="col-md-3 col-sm-4 gallery-img">
							<div class="wrap-image">
								<a href="#:MediaUrl#" data-lightbox="roadtrip" title="#:Description#">
									<img src="#:MediaUrl#" alt="" class="img-responsive">
								</a>
								<div class="tools tools-bottom">
									<a href="#:MediaUrl#">
										<i class="clip-link-4"></i>
									</a>
									<a href="\\#" onclick="setMediaUrl('#:MediaUrl#'); return false;" >
										<i class="clip-pencil-3 "></i>
									</a>
									<a href="\\#" onclick="removeImage('#:Id#'); return false;">
										<i class="clip-close-2"></i>
									</a>
								</div>
							</div>
						</div>
</script>
<script>
    $(document).ready(function () {
        var articleImageDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetImages", "Media")',
                        type: "post",
                        dataType: "json"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models), page: options.page, pageSize: 32 };
                        }
                        return null;
                    }
                },
            batch: true,
            pageSize: 16
        });
        
        $("#article-image-pager").kendoPager({
            dataSource: articleImageDataSource
        });

        var articleImageListView = $("#article-image-listView").kendoListView({
            dataSource: articleImageDataSource,
            template: kendo.template($("#article-image-template").html())
        }).data("kendoListView");

        $("#files").kendoUpload({
            multiple: false,
            async: {
                saveUrl: '@Url.Action("Upload", "Media")',
                autoUpload: true
            },
            localization: {
                select: 'Thêm ảnh'
            },
            success: onSuccess
        });
        function onSuccess(e) {
            $(".k-upload-files").fadeOut(5000, function () {
                $(this).remove();
            });
            articleImageListView.dataSource.read();
        }

        $("#save-article").click(function (e) {
            var validator = $("#article-form").kendoValidator().data("kendoValidator");
            if (validator.validate()) {
                tinyMCE.triggerSave();
                $.post($("#article-form").attr('action'), $("#article-form").serialize()).done(function (result) {
                    grid.dataSource.read();
                    $("#Id").val(result.Id);
                    $("#message-article").html('<span class="k-icon k-i-note"></span>Lưu thành công!');
                    $("#message-article").css('float', 'right');
                    $("#message-article").show();
                    $("#message-article").fadeOut(4000, function () {
                        $(this).html('');
                    });
                });
            } 
            return false;
        });

        $("#cancel-article").click(function (e) {
            splitterToggle();
        });

        function splitterToggle() {
            var pane = getPane(1);
            if (!pane) return;

            splitter.toggle(pane, $(pane).width() <= 0);
        }
        
        tinymce.init({
            selector: "#Content",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            height: 305
        });
        
        var categoryMultiSelect = $("#Category").kendoMultiSelect({
            placeholder: "Chọn danh mục...",
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: false,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetCategories", "Article")',
                        type: "post",
                        dataType: "json"
                    }
                }
            },
            change: onChangeCategory
        }).data("kendoMultiSelect");

        function onChangeCategory() {
            $("#Categories").val(categoryMultiSelect.value());
        }

        //var priorityNumeric = $("#Priority").width(150).kendoNumericTextBox().data("kendoNumericTextBox");

        //var languageDropDownList = $("#LanguageId").width(150).kendoDropDownList({
        //    dataTextField: "text",
        //    dataValueField: "value",
        //    dataSource: [
        //                { text: "Tiếng Việt", value: "1" },
        //                { text: "English", value: "2" }
        //    ]
        //}).data("kendoDropDownList");

        var tabStrip = $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        }).data("kendoTabStrip");

        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false }
            ]
        });

        var splitter = $("#horizontal").kendoSplitter({
            orientation: "horizontal",
            panes: [
                { collapsible: true, size: "20%" },
                { collapsible: true, size: "80%" },
                { collapsible: true, size: "0%" }
            ]
        }).data("kendoSplitter");
    });

    function setMediaUrl(url) {
        if (url != "" && url != null) {
            $("#avatar").attr("src", url);
        } else {
            $("#avatar").attr("src", "@Url.Content("~/Content/images/no-image.jpg")");
        }
        $("#MediaUrl").val(url);
    }
    
    function removeImage(id) {
        $.post('@Url.Action("DeleteImage", "Media")', { id: id }).done(function () {
            $("#article-image-listView").data("kendoListView").dataSource.read();
        });
    }
</script>

