@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div id="vertical">
    <div id="top-pane">
        <div id="horizontal" style="height: 100%; width: 100%;">
            <div id="left-pane">
                <div class="pane-content">
                    <div class="box-section">
                        <a id="add-category" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Thêm Danh Mục</a>
                    </div>

                    <div class="box-section">
                        <div id="listView"></div>
                        <div id="pager" class="k-pager-wrap"></div>
                    </div>
                </div>
            </div>
            <div id="center-pane">
                <div class="pane-content">
                    <div class="box-content">
                        <a id="add-article" class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Thêm</a>
                        <a id="edit-article" class="k-button k-button-icontext k-edit-button" href="#"><span class="k-icon k-edit"></span>Sửa</a>
                        <a id="delete-article" class="k-button k-button-icontext k-delete-button" href="#"><span class="k-icon k-delete"></span>Xóa</a>
                        <a id="active-article" class="k-button k-button-icontext k-active-button" href="#"><span class="k-icon k-i-tick"></span>Duyệt</a>
                        <span class="k-space-left">
                            <a class="k-button k-button-icontext" href="#">Url: </a>
                            <input type="text" class="k-textbox" id="FullUrl" style="width: 300px" />
                        </span>
                        <a id="message-article" class="k-button k-button-icontext k-note-button" style="display: none" href="#"></a>
                    </div>

                    <div class="box-content">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("CreateOrUpdateArticle", "Article", FormMethod.Post, new { id = "article-form" }))
            {
                <div id="right-pane">
                    <div class="pane-content">
                        <div class="box-content">
                            <a id="save-article" class="k-button k-button-icontext k-save-button" href="#"><span class="k-icon k-i-tick"></span>Lưu</a>
                            <a id="cancel-article" class="k-button k-button-icontext k-cancel-button" href="#"><span class="k-icon k-i-cancel"></span>Quay lại</a>
                            
                        </div>

                        <div class="box-content">
                            <div class="input-row">
                                <div class="column-left">
                                    <a class="k-button delete-imageurl" onclick="setMediaUrl(''); return false;" href="#"><span class="k-icon k-i-close"></span></a>
                                    <a href="#" onclick="return false;">
                                        <img id="avatar" src="@Url.Content("~/Content/images/no-image.jpg")" />
                                        <input type="hidden" name="MediaUrl" id="MediaUrl" value="@Url.Content("~/Content/images/no-image.jpg")" />
                                    </a>
                                </div>
                                <div class="column-right">
                                    <div class="input-row">
                                        <p>Tiêu đề: </p>
                                        <input type="hidden" id="Id" name="Id" />
                                        <input type="text" style="width: 520px" class="k-textbox" id="Title" name="Title" required validationmessage="Vui lòng nhập tiêu đề!" />
                                    </div>
                                    <div class="input-row">
                                        <p>Danh mục: </p>
                                        <select id="Category" name="Category"></select>
                                        <input type="hidden" id="Categories" name="Categories" />
                                    </div>
                                    <div class="input-row">
                                        <p>Duyệt: </p>
                                        <input type="checkbox" id="IsActived" name="IsActived" value="true" />
                                    </div>
                                    <div class="input-row">
                                        <p>Mô tả: </p>
                                        <textarea class="k-textbox" id="Description" name="Description" rows="3" cols="1" style="width: 520px"></textarea>
                                    </div>
                                    <div class="input-row">
                                        <p>Sản phẩm liên quan: </p>
                                        <select id="Product" name="Product"></select>
                                        <input type="hidden" id="Products" name="Products" />
                                    </div>
                                    <div class="input-row">
                                        <p>Từ khóa: </p>
                                        <input type="text" class="k-textbox" style="width: 520px" id="Tags" name="Tags"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="input-row">
                                <div id="tabstrip">
                                    <ul>
                                        <li class="k-state-active">Nội dung</li>
                                        <li>Thông tin</li>
                                        <li>Hình ảnh</li>
                                    </ul>
                                    <div>
                                        <textarea id="Content" name="Content"></textarea>
                                    </div>
                                    <div>
                                        <div class="input-row">
                                            <p>Tác giả: </p>
                                            <input type="text" class="k-textbox" id="Author" name="Author" />
                                        </div>
                                        <div class="input-row">
                                            <p>Thứ tự: </p>
                                            <input type="text" id="Priority" name="Priority" />
                                        </div>
                                        <div class="input-row">
                                            <p>Ngôn ngữ: </p>
                                            <input type="text" id="LanguageId" name="LanguageId" />
                                        </div>

                                    </div>
                                    <div>
                                        <div id="upload-image">
                                            <input name="files" id="files" type="file" />
                                        </div>
                                        <div id="article-image-listView"></div>
                                        <div id="article-image-pager" class="k-pager-wrap"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/x-kendo-tmpl" id="template">
        <div class="articlecategory-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
                <a class="k-button k-button-icontext k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
            </div>
            <dl>
                <dt>Id</dt>
                <dd>#:Id#</dd>
                <dt>Tên</dt>
                <dd>#:Name#</dd>
                <dt>Mô Tả</dt>
                <dd>#:Description#</dd>
                <dt>Ngôn ngữ</dt>
                <dd>#:Language.Name#</dd>
                <dt>PR</dt>
                <dd>#:IsPublicRelation#</dd>
            </dl>
        </div>
</script>

<script type="text/x-kendo-tmpl" id="editTemplate">
        <div class="articlecategory-view k-widget">
            <div class="edit-buttons">
                <a class="k-button k-button-icontext k-update-button" href="\\#"><span class="k-icon k-update"></span></a>
                <a class="k-button k-button-icontext k-cancel-button" href="\\#"><span class="k-icon k-cancel"></span></a>
            </div>
            <dl>
                <dt>Tên</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:Name" name="Name" required="required" validationMessage="required" />
                    <span data-for="Name" class="k-invalid-msg"></span>
                </dd>
                <dt>Mô Tả</dt>
                <dd>
                    <input type="text" style="width: 9em; height: 2em;" class="k-textbox" data-bind="value:Description" name="Description" required="required" validationMessage="required" />
                    <span data-for="Description" class="k-invalid-msg"></span>
                </dd>
                <dt>Ngôn ngữ</dt>
                <dd>
                    <select data-role="dropdownlist" data-bind="value:Language" data-value-field="CultureInfo" data-text-field="Name" name="Language" required="required" validationMessage="không được trống">  
                       <option value="vi-vn">Tiếng Việt</option>  
                       <option value="en-us">English</option>
                    </select>
                    <span data-for="Language" class="k-invalid-msg"></span>
                </dd>
                <dt>PR</dt>
                <dd>
                    <input type="checkbox" class="k-checkbox" name="IsPublicRelation" data-bind="checked:IsPublicRelation">
                </dd>
            </dl>
        </div>
</script>

<script type="text/x-kendo-template" id="article-image-template">
        <div class="article-image-list">
            <a href="#:MediaUrl#" data-lightbox="roadtrip" title="#:Description#"><img src="#:MediaUrl#" alt="#:MediaUrl#"  style="display: block; width: 100%;"/></a>
            <a class="k-button delete-image" onclick="removeImage('#:Id#'); return false;" href="\\#"><span class="k-icon k-i-close"></span></a>
            <a class="k-button set-imageurl" onclick="setMediaUrl('#:MediaUrl#'); return false;" href="\\#"><span class="k-icon k-i-restore"></span></a>
        </div>
</script>
<script>
    $(document).ready(function () {
        var articleCategoryDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetCategories", "Article")',
                    type: "post",
                    dataType: "json"
                },
                update: {
                    url: '@Url.Action("CreateOrUpdateCategory", "Article")',
                    type: "post",
                    dataType: "json"
                },
                destroy: {
                    url: '@Url.Action("DeleteCategory", "Article")',
                    type: "post",
                    dataType: "json"
                },
                create: {
                    url: '@Url.Action("CreateOrUpdateCategory", "Article")',
                    type: "post",
                    dataType: "json"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models), page: options.page, pageSize: 6 };
                    }
                }
            },
            batch: true,
            pageSize: 6,
            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { editable: false },
                        Name: { type: "string" },
                        Description: { type: "string" },
                        IsPublicRelation: { type: "boolean" },
                        Language: { defaultValue: { Name: "Tiếng Việt", CultureInfo: "vi-vn" } }
                    }
                }
            }
        });


        $("#pager").kendoPager({
            dataSource: articleCategoryDataSource
        });

        var listView = $("#listView").kendoListView({
            dataSource: articleCategoryDataSource,
            template: kendo.template($("#template").html()),
            editTemplate: kendo.template($("#editTemplate").html())
        }).data("kendoListView");

        $("#add-category").click(function (e) {
            listView.add();
            e.preventDefault();
        });

        var grid = $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: '@Url.Action("GetArticles", "Article")',
                        type: "post",
                        dataType: "json"
                    }
                },
                pageSize: 20,
                schema: {
                    model: {
                        fields: {
                            Priority: { type: "number" },
                            IsActived: { type: "boolean" }
                        }
                    }
                }
            },
            height: 710,
            filterable: true,
            sortable: true,
            pageable: true,
            selectable: "multiple",
            columns: [{
                field: "Id",
                hidden: true
            },
            {
                field: "Categories",
                hidden: true
            },
            {
                field: "Products",
                hidden: true
            }, {
                field: "MediaUrl",
                width: 120,
                title: "Hình đại diện",
                template: "<img src='#= MediaUrl #' alt='#= MediaUrl #' style='width:100%' />"
            }, {
                field: "Title",
                title: "Tiêu đề"
            }, {
                field: "Description",
                title: "Mô tả"
            }, {
                field: "Author",
                width: 100,
                title: "Tác giả",
                hidden: true
            }, {
                field: "Tags",
                title: "Nhãn",
                hidden: true
            }, {
                field: "FullUrl",
                title: "Đường dẫn",
                hidden: true
            }, {
                field: "Priority",
                width: 80,
                title: "Thứ tự"
            }, {
                field: "IsActived",
                width: 80,
                title: "Duyệt"
            }
            ],
            change: function (e) {
                grid.select().each(function () {
                    var dataItem = grid.dataItem($(this));
                    $("#FullUrl").val(dataItem.FullUrl);
                });
            }
        }).data("kendoGrid");

        var panes = $("#horizontal").children(),
            getPane = function (index) {
                index = Number(index);

                if (!isNaN(index) && index < panes.length) {
                    return panes[index];
                }
            };

        $("#add-article").click(function (e) {
            $("#Id").val('');
            $("#Title").val('');
            $("#Author").val('');
            tinyMCE.get('Content').setContent('');
            $("#Description").val('');
            $("#Tags").val('');
            $("#IsActived").prop('checked', false);
            categoryMultiSelect.value('');
            productMultiSelect.value('');
            priorityNumeric.value('');
            setMediaUrl('');
            languageDropDownList.value(1);
            splitterToggle();
        });

        $("#edit-article").click(function (e) {
            if (grid.select().length > 0) {
                grid.select().each(function () {
                    var dataItem = grid.dataItem($(this));
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("GetArticleContent", "Article")',
                        data: { id: dataItem.Id },
                        async: false,
                        success: function (result) {
                            if(result != null) {
                                dataItem.Content = result.Content;
                            }
                        }
                    });
                    $("#Id").val(dataItem.Id);
                    $("#Title").val(dataItem.Title);
                    $("#Author").val(dataItem.Author);
                    $("#Description").val(dataItem.Description);
                    $("#Tags").val(dataItem.Tags);
                    if (dataItem.Content != null)
                    tinyMCE.get('Content').setContent(dataItem.Content);
                    $("#IsActived").prop('checked', dataItem.IsActived);
                    categoryMultiSelect.value(dataItem.Categories.toString().split(','));
                    productMultiSelect.value(dataItem.Products.toString().split(','));
                    priorityNumeric.value(dataItem.Priority);
                    setMediaUrl(dataItem.MediaUrl);
                    languageDropDownList.value(dataItem.LanguageId);
                });
                splitterToggle();
            } else {
                alert("Vui lòng chọn bài viết cần sửa!");
            }
        });
        var articleImageDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("GetImages", "Media")',
                    type: "post",
                    dataType: "json"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models), page: options.page, pageSize: 32 };
                    }
                    return null;
                }
            },
            batch: true,
            pageSize: 16
        });

        $("#article-image-pager").kendoPager({
            dataSource: articleImageDataSource
        });

        var articleImageListView = $("#article-image-listView").kendoListView({
            dataSource: articleImageDataSource,
            template: kendo.template($("#article-image-template").html())
        }).data("kendoListView");

        $("#files").kendoUpload({
            multiple: false,
            async: {
                saveUrl: '@Url.Action("Upload", "Media")',
                autoUpload: true
            },
            localization: {
                select: 'Thêm ảnh'
            },
            success: onSuccess
        });
        function onSuccess(e) {
            $(".k-upload-files").fadeOut(5000, function () {
                $(this).remove();
            });
            articleImageListView.dataSource.read();
        }

        $("#delete-article").click(function (e) {
            if (grid.select().length > 0) {
                if (confirm("Bạn có chắc muốn xóa những bài viết đã chọn?")) {
                    var ids = [];
                    grid.select().each(function () {
                        var dataItem = grid.dataItem($(this));
                        ids.push(dataItem.Id);
                    });
                    $.post('@Url.Action("DeleteArticles", "Article")', { ids: ids.join(",") }).done(function (e) {
                        grid.dataSource.read();
                    });
                }
            } else {
                alert("Vui lòng chọn bài viết muốn xóa!");
            }
        });

        $("#active-article").click(function (e) {
            if (grid.select().length > 0) {
                if (confirm("Bạn có chắc muốn thay đổi trạng thái duyệt những bài viết đã chọn?")) {
                    var ids = [];
                    grid.select().each(function () {
                        var dataItem = grid.dataItem($(this));
                        ids.push(dataItem.Id);
                    });
                    $.post('@Url.Action("ActiveArticles", "Article")', { ids: ids.join(",") }).done(function (e) {
                        grid.dataSource.read();
                    });
                }
            } else {
                alert("Vui lòng chọn bài viết muốn thay đổi trạng thái duyệt!");
            }
        });

        $("#save-article").click(function (e) {
            var validator = $("#article-form").kendoValidator().data("kendoValidator");
            if (validator.validate()) {
                tinyMCE.triggerSave();
                $.post($("#article-form").attr('action'), $("#article-form").serialize()).done(function (result) {
                    grid.dataSource.read();
                    //$("#Id").val(result.Id);
                    splitterToggle();
                    $("#message-article").html('<span class="k-icon k-i-note"></span>Lưu thành công!');
                    $("#message-article").css('float', 'right');
                    $("#message-article").show();
                    $("#message-article").fadeOut(4000, function () {
                        $(this).html('');
                    });
                });
            }
            return false;
        });

        $("#cancel-article").click(function (e) {
            splitterToggle();
        });

        function splitterToggle() {
            var pane = getPane(1);
            if (!pane) return;

            splitter.toggle(pane, $(pane).width() <= 0);
        }

        tinymce.init({
            selector: "#Content",
            theme: "modern",
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code fullscreen",
                "insertdatetime media nonbreaking save table contextmenu directionality",
                "emoticons template paste textcolor"
            ],
            toolbar1: "insertfile undo redo | fontselect fontsizeselect | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            toolbar2: "print preview media | forecolor backcolor emoticons",
            image_advtab: true,
            convert_urls: false,
            height: 305
        });

        var categoryMultiSelect = $("#Category").kendoMultiSelect({
            placeholder: "Chọn danh mục...",
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: false,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetCategories", "Article")',
                        type: "post",
                        dataType: "json"
                    }
                }
            },
            change: onChangeCategory
        }).data("kendoMultiSelect");

        function onChangeCategory() {
            $("#Categories").val(categoryMultiSelect.value());
        }
        
        var productMultiSelect = $("#Product").kendoMultiSelect({
            placeholder: "Chọn sản phẩm liên quan...",
            dataTextField: "Name",
            dataValueField: "Id",
            autoBind: false,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetProducts", "Article")',
                        type: "post",
                        dataType: "json"
                    }
                }
            },
            change: onChangeProduct
        }).data("kendoMultiSelect");

        function onChangeProduct() {
            $("#Products").val(productMultiSelect.value());
        }

        var priorityNumeric = $("#Priority").width(150).kendoNumericTextBox().data("kendoNumericTextBox");

        var languageDropDownList = $("#LanguageId").width(150).kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                        { text: "Tiếng Việt", value: "1" },
                        { text: "English", value: "2" }
            ]
        }).data("kendoDropDownList");

        var tabStrip = $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        }).data("kendoTabStrip");

        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                { collapsible: false }
            ]
        });

        var splitter = $("#horizontal").kendoSplitter({
            orientation: "horizontal",
            panes: [
                { collapsible: true, size: "20%" },
                { collapsible: true, size: "80%" },
                { collapsible: true, size: "0%" }
            ]
        }).data("kendoSplitter");
    });

        function setMediaUrl(url) {
            if (url != "" && url != null) {
                $("#avatar").attr("src", url);
            } else {
                $("#avatar").attr("src", "@Url.Content("~/Content/images/no-image.jpg")");
        }
        $("#MediaUrl").val(url);
    }

    function removeImage(id) {
        $.post('@Url.Action("DeleteImage", "Media")', { id: id }).done(function () {
            $("#article-image-listView").data("kendoListView").dataSource.read();
        });
    }
</script>

