@using System.Web.Optimization
@using SmartHealth.Box.Domain.Dtos
@using SmartHealth.Core.ApplicationServices.Caching
@using SmartHealth.Core.Domain.Models
@using SmartHealth.Core.Helpers
@using SmartHealth.Web.Resources
@{
    Layout = null;
    var orderCount = Session["SmartHealthUser"] != null ? ((SessionDto)Session["SmartHealthUser"]).Order.OrderDetails.Count(a => a.Quantity != 0) : 0;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - Smart Health</title>
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/js/jquery.min.js"></script>
    @Scripts.Render("~/bundles/master/js/header")
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-45355701-1', 'smart-health.com.vn');
        ga('send', 'pageview');
    </script>

</head>
<body>
<div id="fb-root"></div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>

<div class="index">
	<div class="mainindex">
    	<div class="header">
            <div class="logo"><a href="http://smart-health.com.vn"><img src="@Url.Content("~/Content/images/logo.png")" alt="Smart Health" /></a></div>
            <div class="titcom"><img src="@Url.Content("~/Content/images/title.png")" alt="" /></div>
            <div class="menuhead">
            	<ul>
                	<li class="language"><p>@SmartHealth.Web.Resources.SH.Language</p>
                        @Html.LanguageSelectorLink("vi-vn", Url.Content("~/Content/images/flag-vn.jpg"), null)
                        @Html.LanguageSelectorLink("en-us", Url.Content("~/Content/images/flag-en.jpg"), null)
                    </li>
                    <li><span>|</span></li>
	                <li class="butdk">
	                    @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated && ViewBag.CurrentUser.UserType != UserType.Guest)
	                    {
	                        <a href="@Url.Action("EditProfile", "Home", new {id = ViewBag.CurrentUser.Id})">&bull; @ViewBag.CurrentUser.Username</a><a href="@Url.Action("Logout", "Home")">&bull; @SH.Logout</a>
	                    }
	                    else
	                    {
	                        <a href="@Url.Action("Register", "Home")">&bull; @SmartHealth.Web.Resources.SH.Register</a><a href="@Url.Action("Login", "Home")">&bull; @SmartHealth.Web.Resources.SH.Login</a>
	                    }
	                </li>
                    <li><span>|</span></li>
	                <li class="cart">@*<a href="#" data-toggle="dropdown"></a>*@
                        <a href="@Url.Action("Order", "Home")">
                          <p id="OrderProductCount">@orderCount</p>
                        </a>
                        @*<ul class="dropdown-menu pull-right"style="background: none;min-height: 58px;height: auto;" role="menu" aria-labelledby="dLabel">
                            <li style="background: none;height: auto;">
                                <div class="picleft"style="height: auto;">
                                          <table cellspacing="0" cellpadding="0" width="100%">
                                              <tbody>
                                                  <tr>
                                                      <td class="pic_5">
                                                          <a href="#">
                                                              <img src="http://smart-health.com.vn/Media/635224571108691313_WEB_120dpi_rgb%20copy.jpg" alt="" /></a>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                            </li>
                      </ul>*@
	                </li>
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.menuTop > ul > li').hover(
                        function () {
                            $('.menuTop > ul > li').removeClass('active');
                            $(this).addClass('active');
                        },
                        function () {
                            //TODO
                        }
                    )
            })
            </script>
		@{Html.RenderAction("GetTopMenu", "Home");}
        @RenderBody()
    </div>
    <div class="QMbottom">
    	<div class="QM_bottom">
        	@{Html.RenderAction("GetBottomMenu", "Home");}
            <div class="boxTTT">
                <div class="boxTT">
                    <ul>
                        <li class="tit"><p>@SH.AcceptedPayment</p></li>
                        <li>
                            <a href="#"><img src="@Url.Content("~/Content/images/icon_15.jpg")" alt="" /></a>
                            <a href="#"><img src="@Url.Content("~/Content/images/icon_16.jpg")" alt="" /></a>
                            <a href="#" style="position: relative;">@Html.Raw(SH.CODButtonText)<img src="@Url.Content("~/Content/images/icon_17.png")" alt="" /></a>
                        </li>
                    </ul>
                </div><!--boxTT-->
                <div class="boxTT">
                    <ul>
                        <li class="tit"><p>@SH.ConnectToUs</p></li>
                        <li>
                        	<a target="_blank" href="https://twitter.com/SmartHealthVN"><img src="@Url.Content("~/Content/images/icon_18.png")" alt="Twitter" /></a>
                            <a target="_blank" href="https://www.facebook.com/pages/Smart-Health/173034079568243"><img src="@Url.Content("~/Content/images/icon_19.png")" alt="Facebook" /></a>
                            <a target="_blank" rel="publisher" href="https://plus.google.com/+SmarthealthVnCompany/"><img src="@Url.Content("~/Content/images/icon_20.png")" alt="Google+" /></a>
                            <a target="_blank" href="http://www.youtube.com/channel/UCYxfE5sRdVusZ8pz7N6C7jw"><img src="@Url.Content("~/Content/images/icon_21.png")" alt="Youtube" /></a>
                        </li>                        
                    </ul>
                </div><!--boxTT-->
            </div>
            <div class="boxTT0">
            	<p style="color: #5ac84e">@SH.Support</p>
                <ul>
                    <li class="ht-1"><a href="#" style="color: #d64136">08-39972280</a></li>
                    <li class="ht-2"><a href="#" style="color: #fbb32f">08-39972281</a></li>
                    <li class="ht-3"><a href="#" style="color: #4ed8ee">Smart-Health</a></li>
                </ul>
                @{Html.RenderAction("GetCounter", "Home");}
            </div><!--boxTT0-->
        </div>
        <div class="Icopy">
        	<div class="copy">
            	<ul>
                	<li><a href="#"><img style="margin:5px;" src="@Url.Content("~/Content/images/logoz.png")" alt="" /></a></li>
                    <li>
                    	<span>@Html.Raw(SH.Copyright)</span>
                        <p>@SH.CompanyName</p>
                        <p>@SH.AddressInfo</p>
                    </li>
                </ul>
            </div>
        </div>
	</div>
    

</div>
    <!-- Start TAadv Floating -->
@{Html.RenderAction("AdvertisementBanner", "Home");}
@Scripts.Render("~/bundles/master/js/footer")
<script type="text/javascript">
    var MainContentW = 1000;
    var LeftBoxW = 160;
    var RightBoxW = 160;
    var LeftAdjust = 6;
    var RightAdjust = 6;
    var TopAdjust = 10;
    ShowAdDiv();
    window.onresize = ShowAdDiv;
    $(document).ready(function() {
        //$(".dropdown-toggle").dropdown();
    });
</script><!-- End TAadv Floating -->
</body>
</html>
<style>
.adv{
float:left;
width:160px;
background-color:#e1e1e1;
margin-top:20px;
}
</style>