@using SmartHealth.Box.Domain.Dtos
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var article = (ArticleDto)ViewBag.Article;
    var newses = (List<ArticleDto>)ViewBag.Newses;
    if (Session["SmartHealthUser"] == null)
    {
        Session["SmartHealthUser"] = new SessionDto();
    }
    var viewedArticles = ((SessionDto)Session["SmartHealthUser"]).ViewedArticles;
}

<div class="leftContent">
    <div class="boxLeft">
        <div class="chitietsanpham">
            <h1>@article.Title</h1>
        </div>
        <div style="margin:10px 20px;">@Html.Raw(article.Content)</div>
        <div id="social" data-title="sharrre" data-url="@article.FullUrl" ></div>
        @*<div style="margin:10px 20px;">
        <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-numposts="12" data-width="660"></div>
        </div>*@
        <!--chitietsanpham-->
    </div>
</div>
<!--leftContent-->
<div class="rightContent">
    <div class="boxRight">
        <div class="boxRightI">
            <p>Tin tức</p>
            <div class="htkhachhang">
                <ul>
                    @if (newses != null)
                    {
                        foreach (var news in newses)
                        {
                        <li><a href="@Url.Action("Article", "Home", new { id = news.Id })">@news.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>Chấp nhận thanh toán</p>
            <div class="thanhtoan">
                <ul>
                    <li><a href="#">
                        <img src="/content/images/tt-1.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-2.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-3.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-4.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-5.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-6.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-7.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-8.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>Tin tức đã xem</p>
            <div class="htkhachhang">
                <ul>
                    @if (viewedArticles != null)
                    {
                        foreach (var viewedArticle in viewedArticles)
                        {
                            <li><a href="@Url.Action("Article", "Home", new { id = viewedArticle.Id })">@viewedArticle.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    
    <div class="boxRightF">
        <div class="fb-like-box" data-href="https://www.facebook.com/pages/Smart-Health/173034079568243" data-width="220px" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="false"></div>
    </div>
</div>
<!--rightContent-->
<script>
  $(function(){
    $('#social').sharrre({
      share: {
        googlePlus: true,
        facebook: true,
        twitter: true,
        delicious: true
      },
      buttons: {
        googlePlus: {size: 'tall'},
        facebook: {layout: 'box_count'},
        twitter: {count: 'vertical'},
        delicious: {size: 'tall'}
      },
      hover: function(api, options){
        $(api.element).find('.buttons').show();      
      },
      hide: function(api, options){
        $(api.element).find('.buttons').hide();
      }
    });
    
    $('#demo2').sharrre({
      share: {
        googlePlus: true,
        facebook: true,
        twitter: true
      },
      url: 'http://sharrre.com',
      enableHover: false
    });
  });
  </script>
  <style type="text/css">
  #social.sharrre {
    width:100%;
    display:inline-block;
  }
  #demo2.sharrre {
    width:50px;
  }
  .sharrre .box{
    float:left;
  }
  .sharrre .count {
    color:#444444;
    display:block;
    font-size:17px;
    line-height:34px;
    height:34px;
    padding:4px 0;
    position:relative;
    text-align:center;
    text-decoration:none;
    width:50px;
    background-color:#eee;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px; 
  }
  .sharrre .share {
    color:#FFFFFF;
    display:block;
    font-size:11px;
    height:16px;
    line-height:16px;
    margin-top:3px;
    padding:0;
    text-align:center;
    text-decoration:none;
    width:50px;
    background-color:#9CCE39;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px; 
  }
  .sharrre .buttons {
    display:none;
    float:left;
    width:300px;
  }
  .sharrre .button {
    float:left;
    max-width:50px;
    height:50px;
    margin-left:10px;
  }
</style>