@using SmartHealth.Box.Domain.Dtos
@using SmartHealth.Web.Resources
@{
    ViewBag.Title = ViewBag.CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var articles = (List<ArticleDto>)ViewBag.Articles;
    var totalArticle = (int) ViewBag.TotalArticle;
    var totalPage = totalArticle/4 + (totalArticle%4 > 0 ? 1 : 0);
    var page = Request.QueryString["page"] != null ? Int32.Parse(Request.QueryString["page"]) : 1;
    var id = Request.QueryString["id"];
    var search = Request.QueryString["search"];
    var newses = (List<ArticleDto>)ViewBag.Newses;
    if (Session["SmartHealthUser"] == null)
    {
        Session["SmartHealthUser"] = new SessionDto();
    }
    var viewedArticles = ((SessionDto)Session["SmartHealthUser"]).ViewedArticles;
}
<div class="leftContent">
    <div class="boxLeft">
        <div class="AboxLeft">
            <div class="Tprohone">
                <h3><p>@ViewBag.CategoryName</p></h3>
            </div>
            @foreach (var article in articles)
            {
                <div class="AABoxLeft">
                    <div class="boxTin">
                        <ul>
                            <li class="pic">
                                <a href="@Url.Action("Article", "Home", new {id = article.Id})"><img src="@article.MediaUrl" alt="" /></a>
                            </li>
                            <li class="tit"><a href="@Url.Action("Article", "Home", new {id = article.Id})">@article.Title</a></li>
                            <li>
                                @Html.Raw(article.Description)
                            </li>
                        </ul>
                    </div>
                </div>
            }
                <div class="AABoxLeft">
                    <ul class="pagination" style="margin:0; float: right">
                        <li class="@(page == 1 ? "disabled" : "")"><a href="@Url.Action("ArticleList", new { id, search, page = page - 1 })">«</a></li>
                        @for (int i = 1; i <= totalPage; i++)
                        {
                            var active = (i == page) ? "active" : "";
                            <li class="@active">
                                <a href="@Url.Action("ArticleList", new { id, search, page = i })">@i
                                @if(i == page)
                                    {
                                        <span class="sr-only">(current)</span>
                                    } 
                                    </a> 
                            </li>
                        }
                      <li class="@(page == totalPage ? "disabled" : "")"><a href="@Url.Action("ArticleList", new { id, search, page = page + 1 })">»</a></li>
                   </ul>
                </div>
        </div>
    </div>
</div>
<!--leftContent-->
<div class="rightContent">
    <div class="boxRight">
        <div class="boxRightI">
            <p>@SH.News</p>
            <div class="htkhachhang">
                <ul>
                    @if (newses != null)
                    {
                        foreach (var news in newses)
                        {
                        <li><a href="@Url.Action("Article", "Home", new { id = news.Id })">@news.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>@SH.AcceptedPayment</p>
            <div class="thanhtoan">
                <ul>
                    <li><a href="#">
                        <img src="/content/images/tt-1.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-2.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-3.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-4.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-5.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-6.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-7.jpg" alt="" /></a></li>
                    <li><a href="#">
                        <img src="/content/images/tt-8.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>@SH.ViewedNews</p>
            <div class="htkhachhang">
                <ul>
                    @if (viewedArticles != null)
                    {
                        foreach (var viewedArticle in viewedArticles)
                        {
                        <li><a href="@Url.Action("Article", "Home", new { id = viewedArticle.Id })">@viewedArticle.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRightF">
        <div class="fb-like-box" data-href="https://www.facebook.com/pages/Smart-Health/173034079568243"
            data-width="220px" data-colorscheme="light" data-show-faces="true" data-header="true"
            data-stream="false" data-show-border="false">
        </div>
    </div>
</div>
<!--rightContent-->
