@model SmartHealth.Core.Domain.Dtos.UserDto
@using System.Web.Optimization
@using SmartHealth.Core.Domain.Models
@using SmartHealth.Web.Resources
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css/contact")
<div class="leftContent" style="width: 970px">
<div class="boxLeft" style="width: 100%">
    <div class="AboxLeft" style="width: 100%">
        <p style="width: 920px">@SH.UpdateProfile</p>
        <div id="contact">
            <div class="container" style="width: 940px">
                <div class="row contact">
                        <div class="col-sm-12">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="tabbable">
                                        <ul id="myTab" class="nav nav-tabs tab-bricky">
                                            <li class="active">
                                                <a href="#panel_tab2_example1" data-toggle="tab">
                                                    <i class="green icon-home"></i> Tab 1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#panel_tab2_example2" data-toggle="tab">
                                                    Tab 2 <span class="badge badge-danger">4</span>
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    Dropdown &nbsp; <i class="icon-caret-down width-auto"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-info">
                                                    <li>
                                                        <a href="#panel_tab2_example3" data-toggle="tab">
                                                            Dropdown 1
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#panel_tab2_example4" data-toggle="tab">
                                                            Dropdown 2
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane in active" id="panel_tab2_example1">
                                                <p>
                                                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.
                                                </p>
                                                <div class="alert alert-info">
                                                    <p>
                                                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                                    </p>
                                                    <p>
                                                        <a href="#panel_tab2_example2" class="btn btn-teal show-tab">
                                                            Go to tab 2
                                                        </a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="panel_tab2_example2">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
                                                </p>
                                                <p>
                                                    <a href="#panel_tab2_example3" class="btn btn-red show-tab">
                                                        Go to Dropdown 1
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="panel_tab2_example3">
                                                <p>
                                                    Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.
                                                </p>
                                                <p>
                                                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                                                </p>
                                                <p>
                                                    <a href="#panel_tab2_example4" class="btn btn-purple show-tab">
                                                        Go to Dropdown 2
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="tab-pane" id="panel_tab2_example4">
                                                <p>
                                                    Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.
                                                </p>
                                                <p>
                                                    <a href="#panel_tab2_example1" class="btn btn-purple show-tab">
                                                        Return to tab 1
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>

                    <form action="@Url.Action("EditProfile", "Home")" method="POST">
                        
                        <div class="row form">
                            <div class="col-md-3">
                            </div>
                            <div class="col-sm-6 row-col center">
                                <div class="box">
                                    <div class="form-group has-error">
                                        @Html.ValidationMessage("error", new {@class = "help-block"})
                                    </div>
                                    @*<div class="form-group">
                                        @Html.TextBoxFor(model => model.Username, new {@class = "form-control", placeholder = "Username", disabled = "disabled"})
                                        @Html.ValidationMessageFor(model => model.Username)
                                    </div>*@
                                    <div class="form-group">
                                        @Html.HiddenFor(model => model.Id, new {@class = "form-control", placeholder = SH.Password})
                                        @Html.ValidationMessageFor(model => model.Id)
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.DisplayName, new {@class = "form-control", placeholder = SH.Name})
                                        @Html.ValidationMessageFor(model => model.DisplayName)
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Email, new {@class = "form-control", placeholder = SH.Email})
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Location, new {@class = "form-control", placeholder = SH.Address})
                                        @Html.ValidationMessageFor(model => model.Location)
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.DOB, new {@class = "form-control datepicker", placeholder = SH.DOB})
                                        @Html.ValidationMessageFor(model => model.DOB)
                                    </div>
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(Gender))), new {@class = "form-control"}) 
                                        @Html.ValidationMessageFor(model => model.Gender)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                        <div class="row form">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6 right">
                                @if (Model.Username == "admin")
                                {
                                    <a href="/backoffice/article" style="float: right; margin-top: 10px; margin-right: 10px;" class="btn btn-success">@SH.Admin</a>
                                }
                                else
                                {
                                    <button id="submitBtn" style="float: right; margin-top: 10px" type="submit" class="btn btn-success">@SH.Update</button>
                                }
                                <a href="@Url.Action("ChangePassword", new {id = Model.Id})" style="float: right; margin-top: 10px; margin-right: 10px; " class="btn btn-success">@SH.ChangePassword</a>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


    <script src="@Url.Content("~/Areas/Administrator/ClipOne/plugins/jquery-validation/dist/jquery.validate.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker();
        $('form').validate({
            rules: {
                Username: {
                    minlength: 3,
                    required: true
                },
                Email: {
                    minlength: 3,
                    required: true,
                    email: true
                },
                DisplayName: {
                    minlength: 3,
                    required: true
                },
                Password: {
                    minlength: 6,
                    required: true
                },
                ConfirmPassword: {
                    minlength: 6,
                    required: true,
                    equalTo: "#Password"
                },
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
                $(element).closest('.form-group').removeClass('has-success');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
                $(element).closest('.form-group').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>