@using SmartHealth.Box.Domain.Dtos
@{
    var newses = (List<ArticleDto>)ViewBag.Newes;
    var clientSupportArticles = (List<ArticleDto>)ViewBag.ClientSupportArticles;
}
<div class="boxTT">
    <ul>
        <li class="tit">
            <p>@SmartHealth.Web.Resources.SH.News</p>
        </li>
        @if (newses != null)
        {
            foreach (var news in newses)
            {
            <li><a href="@Url.Action("Article", "Home", new { id = news.Id })">@news.Title</a></li>
            }
        }
    </ul>
</div>
<!--boxTT-->
<div class="boxTT">
    <ul>
        <li class="tit">
            <p>@SmartHealth.Web.Resources.SH.ClientSupport</p>
        </li>
        @if (newses != null)
        {
            foreach (var clientSupportArticle in clientSupportArticles)
            {
            <li><a href="@Url.Action("Article", "Home", new { id = clientSupportArticle.Id })">@clientSupportArticle.Title</a></li>
            }
        }
    </ul>
</div>
<!--boxTT-->
