@model SmartHealth.Box.Domain.Dtos.OrderDto
@using System.Collections
@using System.ComponentModel
@using System.Configuration
@using System.Reflection
@using System.Web.Optimization
@using FluentNHibernate
@using SmartHealth.Box.Domain.Dtos
@using SmartHealth.Box.Domain.Models
@using SmartHealth.Core.Domain.Models
@using SmartHealth.Web.Resources
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var relatedProducts = (List<ProductDto>) ViewBag.RelatedProducts;
    var newses = (List<ArticleDto>)ViewBag.ClientSupportArticles;
    if (Session["SmartHealthUser"] == null)
    {
        Session["SmartHealthUser"] = new SessionDto();
    }
    var viewedProducts = ((SessionDto) Session["SmartHealthUser"]).ViewedProducts;
    var order = Model.OrderDetails.Count(a => a.Quantity > 0) == 0 ? ((SessionDto) Session["SmartHealthUser"]).Order : Model;
    var orderDetails = order.OrderDetails.ToArray();
    decimal totalAmount = 0;
    var cities = new List<object>();
    var type = typeof (City);
    foreach (var name in Enum.GetNames(type))
    {
        var field = type.GetField(name);
        var fds = field.GetCustomAttributes(typeof (DescriptionAttribute), true);
        foreach (DescriptionAttribute fd in fds)
        {
            string description = fd.Description;
            var selectItem = new {Text = description, Value = name};
            cities.Add(selectItem);
        }
    }
    var discountPercentForOne = Int32.Parse(ConfigurationManager.AppSettings.Get("DiscountPercentForOne"));
    var discountPercentForMany = Int32.Parse(ConfigurationManager.AppSettings.Get("DiscountPercentForMany"));
}
@Styles.Render("~/Content/css/contact")
<div class="leftContent">
    <div class="boxLeft">
        <div class="chitietsanpham">
            <p>@(order.Id == 0 ? SH.Cart : "Thông tin đơn hàng #" + order.Id)</p>
            <div id="three_step_checkout">
                <div class="new_cart new_ajax_cart">
                    @if (order.Id != 0)
                    {
                        if (order.IsPayed)
                        {
                            <div class="alert alert-success">Đã thanh toán</div>
                        }
                        else
                        {
                            <div class="alert alert-warning">Chưa thanh toán</div>
                        }
                    }
                    <span class="cartintro">Có tất cả <span id="orderDetailCount">@orderDetails.Count(a => a.Quantity != 0)</span> sản phẩm trong đơn hàng</span>
                    @if (orderDetails.Count(a => a.Quantity != 0) > 0)
                    {
                        <table class="width_100" id="tableheader">
                            <tbody>
                                <tr>
                                    <td class="width_20"></td>
                                    <td class="width_40"></td>
                                    <td class="width_15 center">@SH.UnitPrice</td>
                                    <td class="width_10 center">@SH.Quantity</td>
                                    <td class="width_20 right_align lastcolumn">@SH.TotalPrice</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="scrollable">
                            @for (int i = 0; i < orderDetails.Count(); i++)
                            {
                                var orderDetail = orderDetails[i];
                                var discountPercent = orderDetail.Quantity > 1 ? discountPercentForMany : discountPercentForOne;
                                var totalPrice = (orderDetail.Product.SmartHealthPrice * 100 / (100 - discountPercentForOne)) * orderDetail.Quantity * (100 - discountPercent) / 100;
                                totalAmount += totalPrice;
                                if (orderDetail.Quantity != 0)
                                {
                                    <table class="width_100 producttable" id="producttable_@i">
                                        <tbody>
                                            <tr>
                                                <td class="width_20">
                                                    <a href="@Url.Action("Product", "Home", new { id = orderDetail.Product.Id })">
                                                        <img src="@orderDetail.Product.MediaUrl" width="117" height="117">
                                                    </a>
                                                </td>
                                                <td class="width_40">
                                                    <div class="productdescription">@orderDetail.Product.Name</div>
                                                    <div class="productdetails">@orderDetail.Product.Brand</div>
                                                    <span class="stock instock">✓ @orderDetail.Product.Status</span>
                                                    @if (!order.IsPayed)
                                                    {
                                                        <span class="productlink">
                                                            <a index="@i" class="removeOrderProduct">Xóa</a>
                                                        </span>
                                                    }
                                                </td>
                                                <td class="width_15 price center">
                                                    <span class="smPrice">@orderDetail.Product.SmartHealthPrice.ToString("N0")</span><span> VND</span><br>
                                                    <span class="mbs cart-product-oldprice-value">
                                                        <span>@orderDetail.Product.MarketPrice.ToString("N0") VND</span>
                                                    </span>
                                                    <span><strong class="discountPercent" style="color: #093">Giảm giá @discountPercent%</strong></span>
                                                </td>
                                                <td class="width_10 price center">
                                                    <input type="number" style="max-width: 80px;" class="productQuantity form-control" value="@orderDetail.Quantity" index="@i" @(order.IsPayed ? "disabled" : "")/>
                                                </td>
                                                <td class="width_20 right_align price lastcolumn totalPrice">@totalPrice.ToString("N0") VND                        
                                                    <div style="color: green"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>

                        <div id="subtotal">
                            <table class="width_100">
                                <tbody>
                                    <tr class="sub">
                                        <td colspan="2" rowspan="3" class="bdo width_60">
                                            <a style="float: left; margin: 10px 0;" class="btn btn-default" href="@Url.Action("ProductList", "Home", new { id = 4 })">
                                                <img src="~/Content/icons/back.png" />
                                                Tiếp tục mua sắm</a></td>
                                        <td class="width_15">Tổng cộng</td>
                                        <td class="width_30 right_align lastcolumn">
                                            <div id="totalAmount">@totalAmount.ToString("N0") VND</div>
                                        </td>
                                    </tr>
                                    <tr class="sub">
                                        <td class="width_15">Phí vận chuyển</td>
                                        <td class="width_30 right_align lastcolumn">
                                            <div id="shippingFee">0 VND</div>
                                        </td>
                                    </tr>
                                    <tr class="total">
                                        <td class="width_15">Thành tiền</td>
                                        <td class="width_30 right_align lastcolumn">
                                            <div id="totalAmountVAT">@totalAmount.ToString("N0") VND</div>
                                            <div class="vatinclude">Bao gồm VAT</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
@*<div class="cart_btn_row">
                            <div class="proceedtocheckout">
                                <a href="@Url.Action("Product", "Home")" class="submit_btn mtssel-cart-checkout-button">
                                    <span class="cart_submit_text">► Tiếp tục mua sắm</span>
                                </a>
                            </div>
                        </div>*@
                    }
                </div>
            </div>
            @*<div class="GridCnt">
                <table class="TblGrid">
                    <tr>
                        <th>
                            @SH.OrderId
                        </th>
                        <th>
                            @SH.Product
                        </th>
                        <th>
                            @SH.Quantity
                        </th>
                        <th>
                            @SH.UnitPrice
                        </th>
                        <th>
                            @SH.TotalPrice
                        </th>
                        <th></th>
                    </tr>
                    @for (int i = 0; i < orderDetails.Count(); i++)
                    {
                        var orderDetail = orderDetails[i];
                        var totalPrice = orderDetail.Product.SmartHealthPrice * orderDetail.Quantity;
                        var id = i + 1;
                        if (orderDetail.Quantity != 0)
                        {
                        <tr>
                            <td width="40">@id</td>
                            <td align="left">@orderDetail.Product.Name
                                <img src="@orderDetail.Product.MediaUrl" style="max-height: 100px"/></td>
                            <td align="left" width="100">
                                <input type="number" style="max-width: 80px" class="productQuantity" value="@orderDetail.Quantity" index="@i"/></td>
                            <td align="left" class="smPrice">@orderDetail.Product.SmartHealthPrice.ToString("N0")</td>
                            <td align="left" class="totalPrice">@totalPrice.ToString("N0")</td>
                            <td>
                                <img src="~/Areas/Administrator/KendoUI/content/web/delete.png" index="@i" class="removeOrderProduct"/></td>
                        </tr>    
                        }
                    }
                    @if (orderDetails.Count(a => a.Quantity != 0) == 0)
                    {
                        <tr>
                            <td align="center" colspan="6">@SH.NoItemMessage</td>
                        </tr>
                    }
                    <tr>
                        <th colspan="4" style="background: #ffc416">@SH.TotalAmount</th>
                        <th colspan="2" id="totalAmount" style="background: #ffc416">@totalAmount.ToString("N0")</th>
                    </tr>

                </table>
            </div>
            <!-- enddiv:GridCnt  -->*@
        </div>
        @if (orderDetails.Any(a => a.Quantity != 0))
        {
            <div class="chitietsanpham" id="buyerInfo">
                <p>@SH.DeliveryInfo</p>
                <div class="row contact">
                    <form action="@Url.Action("Order", "Home")" method="POST">
                        <div class="row form">
                            <div class="col-md-1">
                            </div>
                            <div class="col-sm-10 row-col center">
                                <div class="box">
                                    <div class="form-group has-error">
                                        @Html.ValidationMessage("error", new { @class = "help-block" })
                                    </div>
                                    <div class="form-group">
                                        @Html.HiddenFor(model => model.Id, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.ReceiverName, new { @class = "form-control", placeholder = SH.Name })
                                        @Html.ValidationMessageFor(model => model.ReceiverName)
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.ReceiverPhone, new { @class = "form-control", placeholder = SH.Phone })
                                        @Html.ValidationMessageFor(model => model.ReceiverPhone)
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.DeliveryAddress, new { @class = "form-control", placeholder = SH.Address })
                                        @Html.ValidationMessageFor(model => model.DeliveryAddress)
                                    </div>
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.DeliveryCity, new SelectList(cities, "Value", "Text"), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DeliveryCity)
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" id="isBilling"/>
                                            Xuất hóa đơn tài chính
                                        </label>
                                    </div>
                                    <div class="form-group billing">
                                        @Html.TextBoxFor(model => model.CompanyName, new { @class = "form-control", placeholder = "Tên công ty" })
                                        @Html.ValidationMessageFor(model => model.ReceiverName)
                                    </div>
                                    <div class="form-group billing">
                                        @Html.TextBoxFor(model => model.CompanyAddress, new { @class = "form-control", placeholder = "Địa chỉ công ty" })
                                        @Html.ValidationMessageFor(model => model.ReceiverPhone)
                                    </div>
                                    <div class="form-group billing">
                                        @Html.TextBoxFor(model => model.TaxCode, new { @class = "form-control", placeholder = "Mã số thuế" })
                                        @Html.ValidationMessageFor(model => model.DeliveryAddress)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <div class="row form">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10 right">
                                @if (!order.IsPayed)
                                {
                                    if (order.Id == 0)
                                    {
                                        <button id="submitBtn" style="float: right; margin: 10px 0;" type="button" class="btn btn-success">COD</button>
                                    }
                                    <a id="submitBaoKimPaymentBtn" onclick=" submitBaoKimPayment(); return false; " style="float: right; margin: 10px 10px 10px 0;" href="#">
                                        <img src="http://developer.baokim.vn/uploads/baokim_btn/thanhtoan-l.png" alt="Thanh toán an toàn với Bảo Kim !" border="0" title="Thanh toán trực tuyến an toàn dùng tài khoản Ngân hàng (VietcomBank, TechcomBank, Đông Á, VietinBank, Quân Đội, VIB, SHB,... và thẻ Quốc tế (Visa, Master Card...) qua Cổng thanh toán trực tuyến BảoKim.vn"></a>
                                    <a target="_blank" onclick=" submitNganLuongPayment(); return false; " style="float: right; margin: 10px 10px 10px 0;" href="#" ><img src="https://www.nganluong.vn/data/images/buttons/11.gif"  border="0" /></a> 
                                <a id="submitPayooPaymentBtn" onclick=" submitPayooPayment(); return false; " style="float: right; margin: 10px 10px 10px 0;" href="#">
                                    <img src="https://www.payoo.com.vn/img/button/PayNow.jpg" style="height: 32px; width: 90px;"></a>
                                <button id="popover" style="float: right; margin: 10px 10px 10px 0;" type="button" class="btn btn-default" data-toggle="popover" title="Lưu ý" data-content="Miễn phí giao hàng ở Hà Nội và Thành Phố Hồ Chí Minh. Các tỉnh khác quý khách vui lòng cộng phí 30.000 VND. <a href='@Url.Action("Article", "Home", new { id = 41 })'>Xem thêm</a>">Lưu ý</button>
                                }
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        }
    </div>
</div>
<!--leftContent-->
<div class="rightContent">
    <div class="boxRight">
        <div class="boxRightI">
            <p>@SH.RecommendProduct</p>
            <ul>
                @if (relatedProducts != null)
                {
                    foreach (var relatedProduct in relatedProducts)
                    {
                        <li>
                            <div class="picleft">
                                <table cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="pic_5">
                                                <a href="@Url.Action("Product", "Home", new { id = relatedProduct.Id })">
                                                    <img src="@relatedProduct.MediaUrl" alt="" /></a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <span>@relatedProduct.SmartHealthPrice.ToString("N0") đ</span>
                            <p>@relatedProduct.Name<br />@relatedProduct.Weight</p>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>@SH.ClientSupport</p>
            <div class="htkhachhang">
                <ul>
                    @if (newses != null)
                    {
                        foreach (var news in newses)
                        {
                            <li><a href="@Url.Action("Article", "Home", new { id = news.Id })">@news.Title</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>@SH.AcceptedPayment</p>
            <div class="thanhtoan">
                <ul>
                    <li><a href="#">
                            <img src="/content/images/tt-1.jpg" alt="" /></a></li>
                    <li><a href="#">
                            <img src="/content/images/tt-2.jpg" alt="" /></a></li>
                    <li><a href="#">
                            <img src="/content/images/tt-3.jpg" alt="" /></a></li>
                    <li><a href="#">
                            <img src="/content/images/tt-4.jpg" alt="" /></a></li>
                    <li><a href="#">
                            <img src="/content/images/tt-5.jpg" alt="" /></a></li>
                    <li><a href="#">
                            <img src="/content/images/tt-6.jpg" alt="" /></a></li>
                    <li><a href="#">
                            <img src="/content/images/tt-7.jpg" alt="" /></a></li>
                    <li><a href="#">
                            <img src="/content/images/tt-8.jpg" alt="" /></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="boxRightF">
        <div class="fb-like-box" data-href="https://www.facebook.com/pages/Smart-Health/173034079568243"
             data-width="220px" data-colorscheme="light" data-show-faces="true" data-header="true"
             data-stream="false" data-show-border="false">
        </div>
    </div>
    <div class="boxRight">
        <div class="boxRightI">
            <p>@SH.ViewedProduct</p>
            <ul>
                @if (viewedProducts != null)
                {
                    foreach (var viewedProduct in viewedProducts)
                    {
                        <li>
                            <div class="picleft">
                                <table cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td class="pic_5">
                                                <a href="@Url.Action("Product", "Home", new { id = viewedProduct.Id })">
                                                    <img src="@viewedProduct.MediaUrl" alt="" /></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <span>@viewedProduct.SmartHealthPrice.ToString("N0") đ</span>
                            <p>@viewedProduct.Name<br />@viewedProduct.Weight</p>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<!--rightContent-->
<script src="@Url.Content("~/Areas/Administrator/ClipOne/plugins/jquery-validation/dist/jquery.validate.min.js")"></script>
<script type="text/javascript">
    var options = {
        symbol: "VND",
        decimal: ".",
        thousand: ",",
        precision: 0,
        format: "%v %s"
    };
    var totalAmount = 0;
    $(".productQuantity").change(function() {
        var quantity = $(this).val();
        var i = $(this).attr("index");
        var price = $(this).parent().parent().find(".smPrice").text().replace(',', '');
        var discountPercent = parseInt(quantity) > 1 ? parseInt('@discountPercentForMany') : parseInt('@discountPercentForOne');
        $(this).parent().parent().find(".discountPercent").html("Giảm giá " + discountPercent + "%");
        $(this).parent().parent().find(".totalPrice").html(accounting.formatMoney(parseInt(price) * 100 / (100 - parseInt('@discountPercentForOne')) * parseInt(quantity) * (100 - discountPercent) / 100, options));
        $.post('@Url.Action("UpdateOrderDetail", "Home")', { i: i, quantity: quantity, orderid: '@order.Id' }).done(function(result) {
            if ('@order.Id' == '0') {
                $("#OrderProductCount").html(result.productCount);
            }
            $("#orderDetailCount").html(result.productCount);
            totalAmount = result.totalAmount;
            $("#totalAmount").html(accounting.formatMoney(totalAmount));
            $("#totalAmountVAT").html(accounting.formatMoney(result.totalAmount + shippingFee));
            return false;
        });
    });
    $(".removeOrderProduct").click(function() {
        var i = $(this).attr("index");
        $("#producttable_" + i).remove();
        $.post('@Url.Action("UpdateOrderDetail", "Home")', { i: i, quantity: 0, orderid: '@order.Id' }).done(function(result) {
            if ('@order.Id' == '0') {
                $("#OrderProductCount").html(result.productCount);
            }
            $("#orderDetailCount").html(result.productCount);
            totalAmount = result.totalAmount;
            $("#totalAmount").html(accounting.formatMoney(totalAmount));
            $("#totalAmountVAT").html(accounting.formatMoney(result.totalAmount + shippingFee));
            if (result.productCount == 0) {
                $("#tableheader").remove();
                $(".scrollable").remove();
                $("#subtotal").remove();
                $("#buyerInfo").remove();
            }
            $("#producttable_" + i).remove();
            return false;
        });
    });
    var shippingFee = 0;
    $("#DeliveryCity").change(function() {
        if ($(this).val() == "HN" || $(this).val() == "HCM") {
            $("#shippingFee").html(accounting.formatMoney(0, options));
            shippingFee = 0;
            $("#totalAmount").html(accounting.formatMoney(totalAmount));
            $("#totalAmountVAT").html(accounting.formatMoney(totalAmount + shippingFee));
        } else {
            $("#shippingFee").html(accounting.formatMoney(30000, options));
            shippingFee = 30000;
            $("#totalAmount").html(accounting.formatMoney(totalAmount));
            $("#totalAmountVAT").html(accounting.formatMoney(totalAmount + shippingFee));
        }
    });
    $("#submitBtn").click(function() {
        $("form").submit();
    });
    $("#isBilling").click(function() {
        if ($("#isBilling")[0].checked) {
            $(".billing").show();
        } else {
            $(".billing").hide();
        }
    });

    function submitBaoKimPayment() {
        if (!$("form").valid()) return false;
        $.post('@Url.Action("Order", "Home")' + "?payType=BaoKim", $("form").serialize()).done(function(result) {
            $("#OrderProductCount").html(0);
            if (result.isSuccess) {
                $("#tableheader").remove();
                $(".scrollable").remove();
                $("#subtotal").remove();
                $("#buyerInfo").remove();
                $(".TblGrid").remove();
                $(".cartintro").html("<p>@SH.OrderSuccess " + "<a href='@Url.Action("Order", "Home")?order_no=" + result.orderId + "'>" + result.orderId + "</a>" + "</p>");
                window.location.href = result.payUrl;
            }
            return false;
        });
    }
    
    function submitNganLuongPayment() {
        if (!$("form").valid()) return false;
        $.post('@Url.Action("Order", "Home")' + "?payType=NganLuong", $("form").serialize()).done(function(result) {
            $("#OrderProductCount").html(0);
            if (result.isSuccess) {
                $("#tableheader").remove();
                $(".scrollable").remove();
                $("#subtotal").remove();
                $("#buyerInfo").remove();
                $(".TblGrid").remove();
                $(".cartintro").html("<p>@SH.OrderSuccess " + "<a href='@Url.Action("Order", "Home")?order_no=" + result.orderId + "'>" + result.orderId + "</a>" + "</p>");
                window.location.href = result.payUrl;
            }
            return false;
        });
    }

    function submitPayooPayment() {
        if (!$("form").valid()) return false;
        $.post('@Url.Action("Order", "Home")' + "?payType=Payoo", $("form").serialize()).done(function(result) {
            $("#OrderProductCount").html(0);
            if (result.isSuccess) {
                $("#tableheader").remove();
                $(".scrollable").remove();
                $("#subtotal").remove();
                $("#buyerInfo").remove();
                $(".TblGrid").remove();
                $(".cartintro").html("<p>@SH.OrderSuccess " + "<a href='@Url.Action("Order", "Home")?order_no=" + result.orderId + "'>" + result.orderId + "</a>" + "</p>");
                $(".cartintro").append(result.redirectToProviderHTML);
                $("#ContinueButton input[type='submit']").trigger("click");
            }
            return false;
        });
    }

    $(document).ready(function() {
        $(".billing").hide();
        $('.datepicker').datepicker();
        $(".productQuantity").trigger("change");
        $("#DeliveryCity").trigger("change");
        if ($("#TaxCode").val() != "") {
            $("#isBilling").trigger("click");
        }
        $("#popover").popover({ trigger: "manual", placement: 'top', html: true })
            .on("mouseenter", function() {
                var _this = this;
                $(this).popover("show");
                $(".popover").on("mouseleave", function() {
                    $(_this).popover('hide');
                });
            }).on("mouseleave", function() {
                var _this = this;
                setTimeout(function() {
                    if (!$(".popover:hover").length) {
                        $(_this).popover("hide")
                    }
                }, 100);
            });
        $('form').validate({
            rules: {
                ReceiverName: {
                    minlength: 3,
                    required: true
                },
                ReceiverPhone: {
                    minlength: 10,
                    required: true
                },
                DeliveryAddress: {
                    minlength: 10,
                    required: true
                },
                DeliveryCity: {
                    required: true
                }
            },
            highlight: function(element) {
                $(element).closest('.form-group').addClass('has-error');
                $(element).closest('.form-group').removeClass('has-success');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
                $(element).closest('.form-group').addClass('has-success');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function(form) {
                $.post('@Url.Action("Order", "Home")' + "?payType=SmartHealth", $("form").serialize()).done(function(result) {
                    $("#OrderProductCount").html(0);
                    if (result.isSuccess) {
                        $("#tableheader").remove();
                        $(".scrollable").remove();
                        $("#subtotal").remove();
                        $("#buyerInfo").remove();
                        $(".TblGrid").remove();
                        $(".cartintro").html("<p>@SH.OrderSuccess " + "<a href='@Url.Action("Order", "Home")?order_no=" + result.orderId + "'>" + result.orderId + "</a>" + "</p>");
                    }
                    return false;
                });
            }
        });
    });
</script>
